<template>
  <div>
    <div v-bar="{data: data}"></div>
  </div>
</template>

<script>
  import * as d3 from "d3";
  import d3Tip from "d3-tip";

  /* Format
     this.data = [
     {"name":"E","value":0.12702},
     {"name":"T","value":0.09056}
     ];
     this.data.columns = ["letter", "frequency"];
     this.data.format = "%";
     this.data.y = "frequency";
   */

  export default {
    data () {
      return {
      }
    },

    props: {
      data: Array,
    },

    components: {
    },

    mounted() {
    },

    methods: {
    },

    directives: {

      bar(el, binding, vnode) {

        var margin = {top: 30, right: 0, bottom: 30, left: 40},
        width = 960, height = 720, color = "steelblue";

        d3.select(el).selectAll("*").remove();
        var svg = d3.select(el).append("svg")
                    .attr("viewBox", [0, 0, width, height]);

        var x = d3.scaleBand()
                  .domain(d3.range(binding.value.data.length))
                  .range([margin.left, width - margin.right])
                  .padding(0.1);

        var y = d3.scaleLinear()
                  .domain([d3.min(binding.value.data, d => d.value), d3.max(binding.value.data, d => d.value)]).nice()
                  .range([height - margin.bottom, margin.top]);

        var xAxis = g => g
          .attr("transform", `translate(0,${y(0)})`)
          .call(d3.axisBottom(x).tickFormat(i => binding.value.data[i].name).tickSizeOuter(0));

        var yAxis = g => g
          .attr("transform", `translate(${margin.left},0)`)
          .call(d3.axisLeft(y))
          .call(g => g.select(".domain").remove())
          .call(g => g.append("text")
                      .attr("x", -margin.left)
                      .attr("y", 10)
                      .attr("fill", "currentColor")
                      .attr("text-anchor", "start")
                      .text(binding.value.data.y));

        svg.append("g")
           .call(xAxis);

        svg.append("g")
           .call(yAxis);

        /* tooltip */
        var tooltip = d3Tip()
          .attr('class', 'd3-tip')
          .offset([-10, 0])
          .attr("font-family", "sans-serif")
          .attr("font-size", 6)
          .html(function(ev, d) {
            return `<strong>${d.name}:</strong> <span style='color:red'>${d.value}</span>`;
          });
        svg.call(tooltip);

        svg.append("g")
           .attr("fill", color)
           .selectAll("rect")
           .data(binding.value.data)
           .join("rect")
           .attr("x", (d, i) => x(i))
           .attr("y", d => y(Math.max(0, d.value)))
           .attr("height", d => Math.abs(y(0) - y(d.value)))
           .attr("width", x.bandwidth())
           .on('mouseover', tooltip.show)
           .on('mouseout', tooltip.hide);

      },

    }

  }
</script>
