<template>
  <div>
    <div v-groupedbarcpsvg="{datastr: datastr}"></div>
  </div>
</template>

<script>
import * as d3 from "d3";
import d3Tip from "d3-tip";

export default {
  data () {
    return {
      // datastr: JSON.stringify({"oi":[{"1600":[0,1],"1700":[0,4],"1800":[0,74],"1900":[0,68],"1940":[0,1],"1980":[0,28],"2000":[8,91],"2020":[0,14],"2040":[0,-17],"2060":[3,11],"2080":[13,1],"2100":[166,105],"2120":[11,5],"2140":[6,1],"2160":[6,9],"2180":[14,1],"2200":[216,38],"2220":[3,2],"2240":[41,0],"2260":[0,1],"2280":[4,4],"2300":[178,14],"2400":[77,2],"2500":[84,0],"2600":[2,0],"Scrip":"ACC"}],"keys":[1600,1700,1800,1900,1940,1980,2000,2020,2040,2060,2080,2100,2120,2140,2160,2180,2200,2220,2240,2260,2280,2300,2400,2500,2600],"y":"Open Interest","scrip":"ACC"}),
    }
  },

  props: {
    datastr: String,
  },

  components: {
  },

  mounted() {
  },

  methods: {
  },

  directives: {

    groupedbarcpsvg(el, binding, vnode) {

      if ((! binding.value.datastr) || (0 == binding.value.datastr.length)) return;

      const datao = JSON.parse(binding.value.datastr);
      let groupkey = 'Scrip';

      var margin = ({top: 10, right: 10, bottom: 20, left: 40}),
          width = 720 - margin.left - margin.right,
          height = 150 - margin.top - margin.bottom;

      let x0 = d3.scaleBand()
          .domain(datao.oi.map(d => d[groupkey]))
          .rangeRound([margin.left, width - margin.right])
          .paddingInner(0.1);

      let x1 = d3.scaleBand()
          .domain(datao.keys)
          .rangeRound([0, x0.bandwidth()])
          .padding(0.05);

      let ymin = d3.min(datao.oi, d => d3.min(datao.keys, key => Math.min(d[key][0],d[key][1])));
      let y = d3.scaleLinear()
          .domain([ymin >= 0 ? 0 : ymin, d3.max(datao.oi, d => d3.max(datao.keys, key => Math.max(d[key][0],d[key][1])))]).nice()
          .rangeRound([height - margin.bottom, margin.top]);

      let xAxis = g => g
          .attr("transform", `translate(${x0(datao.oi[0][groupkey])},${y(0)})`)
          .call(d3.axisBottom(x1).tickSizeOuter(0))
          .call(g => g.select(".domain").remove())
          .attr("font-family", "sans-serif")
          .attr("font-size", 6);

      let yAxis = g => g
          .attr("transform", `translate(${margin.left},0)`)
          .call(d3.axisLeft(y).ticks(null, "s"))
          .call(g => g.select(".domain").remove())
          .call(g => g.select(".tick:last-of-type text").clone()
                .attr("x", 3)
                .attr("text-anchor", "start")
                .attr("font-weight", "bold")
                .text(datao.y));

      /* append the svg object to the body of the page */
      d3.select(el).selectAll("*").remove();
      var svg = d3.select(el).append("svg")
          .attr("viewBox", [0, 0, width + margin.left + margin.right, height + margin.top + margin.bottom])
          .attr("font-family", "sans-serif")
          .attr("font-size", 8)
          .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      /* Prep the tooltip bits, initial display is hidden */
      var tooltip = d3Tip()
          .attr('class', 'd3-tip')
          .offset([-10, 0])
          .attr("font-family", "sans-serif")
          .attr("font-size", 6)
          .html(function(ev, d) {
            return `<strong>${d.key}:</strong> <span style='color:red'>${d.value}</span>`;
          });
      svg.call(tooltip);

      svg.append("g")
        .selectAll("g")
        .data(datao.oi)
        .join("g")
        .attr("transform", d => `translate(${x0(d[groupkey])},0)`)
        .selectAll("rect")
        .data(d => datao.keys.map(key => ({key, value: d[key][0]})))
        .join("rect")
        .attr("x", d => x1(d.key))
        .attr("y", d => y(d.value>=0?d.value:0))
        .attr("width", x1.bandwidth())
        .attr("height", d => y(d.value>=0?0:d.value) - y(d.value>=0?d.value:0))
        .attr("fill", d => '#43A047')
        .on('mouseover', tooltip.show)
        .on('mouseout', tooltip.hide);

      svg.append("g")
        .selectAll("g")
        .data(datao.oi)
        .join("g")
        .attr("transform", d => `translate(${x0(d[groupkey])},0)`)
        .selectAll("rect")
        .data(d => datao.keys.map(key => ({key, value: d[key][1]})))
        .join("rect")
        .attr("x", d => x1(d.key)+(x1.bandwidth()/4))
        .attr("y", d => y(d.value>=0?d.value:0))
        .attr("width", x1.bandwidth()/2)
        .attr("height", d => y(d.value>=0?0:d.value) - y(d.value>=0?d.value:0))
        .attr("fill", d => '#E53935')
        // .on("mouseover", function() { tooltip.style("display", null); })
        // .on("mouseout", function() { tooltip.style("display", "none"); })
        .on('mouseover', tooltip.show)
        .on('mouseout', tooltip.hide);

      svg.append("g")
        .call(xAxis);

      svg.append("g")
        .call(yAxis);
    },

  }

}
</script>

<style>
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}
</style>
