<template>
  <div>
    <div v-groupedbarsvg="{datastr: datastr, groupKey: groupKey}"></div>
  </div>
</template>

<script>
import * as d3 from "d3";
import d3Tip from "d3-tip";

/*
  this.data = {
  "oi": [{"State":"CA","Under 5 Years":2704659,"5 to 13 Years":4499890,"14 to 17 Years":2159981,"18 to 24 Years":3853788,"25 to 44 Years":10604510,"45 to 64 Years":8819342,"65 Years and Over":4114496},{"State":"TX","Under 5 Years":2027307,"5 to 13 Years":3277946,"14 to 17 Years":1420518,"18 to 24 Years":2454721,"25 to 44 Years":7017731,"45 to 64 Years":5656528,"65 Years and Over":2472223},{"State":"NY","Under 5 Years":1208495,"5 to 13 Years":2141490,"14 to 17 Years":1058031,"18 to 24 Years":1999120,"25 to 44 Years":5355235,"45 to 64 Years":5120254,"65 Years and Over":2607672},{"State":"FL","Under 5 Years":1140516,"5 to 13 Years":1938695,"14 to 17 Years":925060,"18 to 24 Years":1607297,"25 to 44 Years":4782119,"45 to 64 Years":4746856,"65 Years and Over":3187797},{"State":"IL","Under 5 Years":894368,"5 to 13 Years":1558919,"14 to 17 Years":725973,"18 to 24 Years":1311479,"25 to 44 Years":3596343,"45 to 64 Years":3239173,"65 Years and Over":1575308},{"State":"PA","Under 5 Years":737462,"5 to 13 Years":1345341,"14 to 17 Years":679201,"18 to 24 Years":1203944,"25 to 44 Years":3157759,"45 to 64 Years":3414001,"65 Years and Over":1910571}],
  "keys": ["Under 5 Years", "5 to 13 Years", "14 to 17 Years", "18 to 24 Years", "25 to 44 Years", "45 to 64 Years", "65 Years and Over"],
  "y": 'Population',
  };
  this.groupKey = 'State';
*/
export default {
  data () {
    return {
    }
  },

  props: {
    datastr: String,
    groupKey: String,
  },

  components: {
  },

  mounted() {
  },

  methods: {
  },

  directives: {

    groupedbarsvg(el, binding, vnode) {

      if ((! binding.value.datastr) || (0 == binding.value.datastr.length)) return;

      const datao = JSON.parse(binding.value.datastr);

      var margin = ({top: 10, right: 10, bottom: 20, left: 40}),
          width = 600 - margin.left - margin.right,
          height = 600 - margin.top - margin.bottom;

      let x0 = d3.scaleBand()
          .domain(datao.oi.map(d => d[binding.value.groupKey]))
          .rangeRound([margin.left, width - margin.right])
          .paddingInner(0.1);

      let x1 = d3.scaleBand()
          .domain(datao.keys)
          .rangeRound([0, x0.bandwidth()])
          .padding(0.05);

      let ymin = d3.min(datao.oi, d => d3.min(datao.keys, key => d[key]));
      let y = d3.scaleLinear()
          .domain([ymin >= 0 ? 0 : ymin, d3.max(datao.oi, d => d3.max(datao.keys, key => d[key]))]).nice()
          .rangeRound([height - margin.bottom, margin.top]);

      let color_range = d3.scaleOrdinal(d3.schemeCategory10);
      let color = d3.scaleOrdinal()
          .range(color_range.range());

      let xAxis = g => g
          .attr("transform", `translate(0,${height - margin.bottom})`)
          .call(d3.axisBottom(x0).tickSizeOuter(0))
          .call(g => g.select(".domain").remove());

      let yAxis = g => g
          .attr("transform", `translate(${margin.left},0)`)
          .call(d3.axisLeft(y).ticks(null, "s"))
          .call(g => g.select(".domain").remove())
          .call(g => g.select(".tick:last-of-type text").clone()
                .attr("x", 3)
                .attr("text-anchor", "start")
                .attr("font-weight", "bold")
                .text(datao.y));

      let legend = svg => {
        const g = svg
              .attr("transform", `translate(${width},0)`)
              .attr("text-anchor", "end")
              .attr("font-family", "sans-serif")
              .attr("font-size", 6)
              .selectAll("g")
              .data(color.domain().slice())
              .join("g")
              .attr("transform", (d, i) => `translate(0,${i * 10})`);

        g.append("rect")
          .attr("x", -9)
          .attr("width", 9)
          .attr("height", 9)
          .attr("fill", color);

        g.append("text")
          .attr("x", -10)
          .attr("y", 4.5)
          .attr("dy", "0.35em")
          .text(d => d);
      }

      // append the svg object to the body of the page
      d3.select(el).selectAll("*").remove();
      var svg = d3.select(el).append("svg")
          .attr("viewBox", [0, 0, width + margin.left + margin.right, height + margin.top + margin.bottom])
          .attr("font-family", "sans-serif")
          .attr("font-size", 14)
          .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      /* Prep the tooltip bits, initial display is hidden */
      var tooltip = d3Tip()
          .attr('class', 'd3-tip')
          .offset([-10, 0])
          .attr("font-family", "sans-serif")
          .attr("font-size", 6)
          .html(function(ev, d) {
            return `<strong>${d.key}:</strong> <span style='color:red'>${d.value}</span>`;
          });
      svg.call(tooltip);

      svg.append("g")
        .selectAll("g")
        .data(datao.oi)
        .join("g")
        .attr("transform", d => `translate(${x0(d[binding.value.groupKey])},0)`)
        .selectAll("rect")
        .data(d => datao.keys.map(key => ({key, value: d[key]})))
        .join("rect")
        .attr("x", d => x1(d.key))
        .attr("y", d => y(d.value>=0?d.value:0))
        .attr("width", x1.bandwidth())
        .attr("height", d => y(d.value>=0?0:d.value) - y(d.value>=0?d.value:0))
        .attr("fill", d => color(d.key))
        .on('mouseover', tooltip.show)
        .on('mouseout', tooltip.hide);

      svg.append("g")
        .call(xAxis);

      svg.append("g")
        .call(yAxis);

      svg.append("g")
        .call(legend);
    },

  }

}
</script>
