<template>
</template>

<script>
import investUtils from '~/plugins/investutils.js'

var __instance = {
  ready: new Promise(resolve => {
    investUtils({
      onRuntimeInitialized() {
        __instance = Object.assign(this, {
          ready: Promise.resolve()
        });
        resolve();
      }
    });
  })
};

export default {
  data() {
    return {
    }
  },
  methods: {
    inst() {
      return __instance;
    },
  },
}
</script>
