<template>
  <div>
    <div v-multilinesvg="{data: data}"></div>
  </div>
</template>

<script>
import * as d3 from "d3";
import {nest} from 'd3-collection';

export default {
  data () {
    return {
    }
  },

  props: {
    data: Object,
    symbol: String,
  },

  components: {
  },

  mounted() {
  },

  methods: {
  },

  directives: {

    multilinesvg(el, binding, vnode) {

      if (! binding.value.data) return;

      const groupKey = "strikePrice";
      const data = binding.value.data.oi;
      const keys = binding.value.data.keys;

      // set the dimensions and margins of the graph
      var margin = {top: 100, right: 130, bottom: 30, left: 60},
          width = 960 - margin.left - margin.right,
          height = 720 - margin.top - margin.bottom;

      // append the svg object to the body of the page
      d3.select(el).selectAll("*").remove();
      var svg = d3.select(el).append("svg")
                  .attr("viewBox", [0, 0, width + margin.left + margin.right, height + margin.top + margin.bottom])
                  .attr("font-family", "sans-serif")
                  .attr("font-size", 14)
                  .append("g")
                  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      // group the data: I want to draw one line per group
      var sumstat = nest() // nest function allows to group the calculation per level of a factor
        .key(function(d) { return d.key;})
        .entries(data);

      // Add X axis --> it is a date format
      var x = d3.scalePoint()
        .domain(keys)
        .range([ 0, width ]);
      svg.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x).ticks(5));

      // Add Y axis
      var y = d3.scaleLinear()
        .domain([0, d3.max(data, function(d) { return +d.oi; })])
        .range([ height, 0 ]);
      svg.append("g")
        .call(d3.axisLeft(y));

      // color palette
      var res = sumstat.map(function(d){ return d.key; }); // list of group names
      let color_range = d3.scaleOrdinal(d3.schemeCategory10);
      var color = d3.scaleOrdinal()
        .domain(res)
        .range(color_range.range());

      const tooltip = svg.append("g");

      var callout = (g, value) => {
        if (!value) return g.style("display", "none");

        g.style("display", null)
         .style("pointer-events", "none")
         .style("font", "10px sans-serif");

        const path = g.selectAll("path")
          .data([null])
          .join("path")
            .attr("fill", "white")
            .attr("stroke", "black");

        const text = g.selectAll("text")
          .data([null])
          .join("text")
          .call(text => text
            .selectAll("tspan")
            .data((value + "").split(/\n/))
            .join("tspan")
              .attr("x", 0)
              .attr("y", (d, i) => `${i * 1.1}em`)
              .style("font-weight", (_, i) => i ? null : "bold")
              .text(d => d));

        const {x, y, width: w, height: h} = text.node().getBBox();

        text.attr("transform", `translate(${-w / 2},${15 - y})`);
        path.attr("d", `M${-w / 2 - 10},5H-5l5,-5l5,5H${w / 2 + 10}v${h + 20}h-${w + 20}z`);
      }

      var drawTooltip = (ev, d) => {
        tooltip
            .attr("transform", `translate(${x(d.time)}, ${y(+d.oi)})`)
            .call(callout, `${d.key}`);
      }

      // Draw the line
      svg.selectAll(".line")
          .data(sumstat)
          .enter()
          .append("path")
            .attr("fill", "none")
            .attr("stroke", function(d){ return color(d.key); })
            .attr("stroke-width", 1.5)
            .attr("d", function(d) {
              return d3.line()
                .x(function(d) { return x(d.time); })
                .y(function(d) { return y(+d.oi); })
                (d.values)
            })
          .on('mouseover', drawTooltip);
//          .on('mouseout', tooltip.call(callout, null));

      var size = 10;

      svg.selectAll("mydots")
        .data(res)
        .enter()
        .append("rect")
          .attr("x", width - 100)
          .attr("y", (d,i) => 100 + i*(size+5))
          .attr("width", size)
          .attr("height", size)
          .style("fill", function(d){ return color(d)});
      
      svg.selectAll("mylabels")
        .data(res)
        .enter()
        .append("text")
          .attr("x", width - 100 + size*1.2)
          .attr("y", (d,i) => 100 + i*(size+5) + (size/2))
          .style("fill", (d) => color(d))
          .text((d) => d)
          .attr("text-anchor", "left")
          .style("alignment-baseline", "middle");

    },

  }

}
</script>
