<template>
  <div v-multilinesvg3="{data: data, fontsize: fontsize, tformat: tformat}"></div>
</template>

<script>
import * as d3 from "d3";

/* Format
   const data = {
   "y" : "% Unemployment",
   "series" : [
   {"name":"Bethesda-Rockville-Frederick MD","values":[2.6,2.6,2.6,2.6]},
   {"name":"Wilmington DE-MD-NJ","values":[2.9,3,3.1,3.2]}
   ],
   "dates": ["2000-01-01","2000-02-01","2000-03-01","2000-04-01"]
   };
*/

export default {
  data () {
    return {
    }
  },

  props: {
    data: Object,
    fontsize: {
      type: Number,
      default: 14
    },
    tformat: String,
  },

  components: {
  },

  mounted() {
  },

  methods: {
  },

  directives: {

    multilinesvg3(el, binding, vnode) {

      if ((! binding.value.data) || (!binding.value.data.hasOwnProperty('dates'))) return;
      var data = JSON.parse(JSON.stringify(binding.value.data));
      data.series.forEach(d => {d.isSelected = false;});

      const fontsize = binding.value.fontsize;

      var margin = { top: 15, right: 15, bottom: 15, left: 15 },
          width = 960,
          height = 600;

      var parseDate = d3.timeParse(binding.value.tformat);
      data.dates.forEach((d, i) => {
        data.dates[i] = parseDate(d);
      });

      var x = d3.scaleTime()
          .domain(d3.extent(data.dates, d => d))
          .range([margin.left, width - margin.right]);

      var y = d3.scaleLinear()
          .domain([d3.min(data.series, d => d3.min(d.values)), d3.max(data.series, d => d3.max(d.values))]).nice()
          .range([height - margin.bottom, margin.top]);

      var color = d3.scaleOrdinal(d3.schemeCategory10)
          .domain(data.series.map(d=>d.name));

      var xAxis = g => g
          .attr("transform", `translate(0,${height - margin.bottom})`)
          .call(d3.axisBottom(x).ticks(width / 80).tickSizeOuter(0));

      var yAxis = g => g
          .attr("transform", `translate(${margin.left},0)`)
          .call(d3.axisLeft(y))
          .call(g => g.select(".domain").remove())
          .call(g => g.select(".tick:last-of-type text").clone()
                .attr("x", 3)
                .attr("text-anchor", "start")
                .attr("font-weight", "bold")
                .attr("font-size", fontsize)
                .text(data.y));

      let legend = svg => {
        const g = svg
              .attr("transform", `translate(${width},0)`)
              .attr("text-anchor", "end")
              .attr("font-family", "sans-serif")
              .attr("font-size", fontsize)
              .selectAll("g")
              .data(data.series)
              .join("g")
              .attr("transform", (d, i) => `translate(0,${i * 14})`);

        g.append("rect")
          .attr("x", -9)
          .attr("width", 9)
          .attr("height", 9)
          .attr("fill", d => color(d.name))
          .on("mouseover", (ev,d) => {d.isSelected = true;})
          .on("mouseout", (ev,d) => {d.isSelected = false;});

        g.append("text")
          .attr("x", -10)
          .attr("y", 5)
          .attr("dy", "0.35em")
          .text(d => d.name);
      }

      var line = d3.line()
      //          .defined(d => !isNaN(d))
          .x((d, i) => x(data.dates[i]))
          .y(d => y(d));

      d3.select(el).selectAll("*").remove();
      var svg = d3.select(el).append("svg")
          .attr("viewBox", [0, 0, width, height])
          .style("overflow", "visible");

      svg.append("g")
        .call(xAxis);

      svg.append("g")
        .call(yAxis);

      svg.append("g")
        .call(legend);

      const path = svg.append("g")
            .attr("fill", "none")
            .attr("stroke-width", 1.5)
            .attr("stroke-linejoin", "round")
            .attr("stroke-linecap", "round")
            .selectAll("path")
            .data(data.series)
            .join("path")
            .attr("stroke", d=>color(d.name))
            .style("mix-blend-mode", "multiply")
            .attr("d", d => line(d.values));

      function hover(svg, path) {

        if ("ontouchstart" in document) svg
          .style("-webkit-tap-highlight-color", "transparent")
          .on("touchmove", moved)
          .on("touchstart", entered)
          .on("touchend", left)
        else svg
          .on("mousemove", moved)
          .on("mouseenter", entered)
          .on("mouseleave", left);

        const dot = svg.append("g")
              .attr("display", "none");

        dot.append("circle")
          .attr("r", 2.5);

        dot.append("text")
          .attr("font-family", "sans-serif")
          .attr("font-size", fontsize)
          .attr("text-anchor", "middle")
          .attr("x", -100)
          .attr("y", -8);

        function moved(event) {
          event.preventDefault();
          const pointer = d3.pointer(event, this);
          const xm = x.invert(pointer[0]);
          const ym = y.invert(pointer[1]);
          const i = d3.bisectCenter(data.dates, xm);
          const selidx = data.series.findIndex(s => s.isSelected);
          const s = (selidx == -1) ?
                d3.least(data.series, d => Math.abs(d.values[i] - ym)) :
                data.series[selidx];
          path.attr("stroke", d => d === s ? color(d.name) : "#ddd").filter(d => d === s).raise();
          dot.attr("transform", `translate(${x(data.dates[i])},${y(s.values[i])})`);
          dot.select("text").text(s.name + '@' + data.dates[i].toISOString().substring(0, 10) + ': ' + s.values[i]);
        }

        function entered() {
          path.style("mix-blend-mode", null).attr("stroke", "#ddd");
          dot.attr("display", null);
        }

        function left() {
          path.style("mix-blend-mode", "multiply").attr("stroke", d => color(d.name));
          dot.attr("display", "none");
        }
      }

      svg.call(hover, path);

    },

  }

}
</script>
