<template>
  <v-snackbar v-model="show" :color="color">
    {{ message }}
    <v-btn text @click.prevent.stop="show = false">Close</v-btn>
  </v-snackbar>
</template>

<script>
export default {
  data () {
    return {
      show: false,
      message: '',
      color: ''
    }
  },

  created () {
    this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'snackbar/pushMessage') {
        this.message = mutation.payload.message || 'Success';
        this.color = mutation.payload.color || 'success';
        this.show = true;
      }
    });
  }
}
</script>
