<template>
<div class="ma-2" v-if="datastr.length > 10">
  <div v-stackedbar="{data: datastr, title: title}"></div>
</div>
</template>

<script>
import * as d3 from "d3";

export default {
  data () {
    return {
      // datastr: JSON.stringify([{"timestamp":"Donald Trump","strike":"Pants on fire!","proportion":-0.15503875968992248},{"timestamp":"Donald Trump","strike":"Half true","proportion":0.11627906976744186},{"timestamp":"Donald Trump","strike":"Mostly false","proportion":-0.20930232558139536},{"timestamp":"Donald Trump","strike":"False","proportion":-0.4263565891472868},{"timestamp":"Donald Trump","strike":"Mostly true","proportion":0.05426356589147287},{"timestamp":"Donald Trump","strike":"True","proportion":0.03875968992248062},{"timestamp":"Bernie Sanders","strike":"Mostly true","proportion":0.325},{"timestamp":"Bernie Sanders","strike":"Half true","proportion":0.375},{"timestamp":"Bernie Sanders","strike":"Mostly false","proportion":-0.1},{"timestamp":"Bernie Sanders","strike":"True","proportion":0.125},{"timestamp":"Bernie Sanders","strike":"False","proportion":-0.075},{"timestamp":"Joe Biden","strike":"Mostly true","proportion":0.25},{"timestamp":"Joe Biden","strike":"True","proportion":0.1111111111111111},{"timestamp":"Joe Biden","strike":"Pants on fire!","proportion":-0.027777777777777776},{"timestamp":"Joe Biden","strike":"Mostly false","proportion":-0.3333333333333333},{"timestamp":"Joe Biden","strike":"False","proportion":-0.1388888888888889},{"timestamp":"Joe Biden","strike":"Half true","proportion":0.1388888888888889},{"timestamp":"Elizabeth Warren","strike":"False","proportion":-0.07407407407407407},{"timestamp":"Elizabeth Warren","strike":"Mostly false","proportion":-0.14814814814814814},{"timestamp":"Elizabeth Warren","strike":"Mostly true","proportion":0.25925925925925924},{"timestamp":"Elizabeth Warren","strike":"True","proportion":0.25925925925925924},{"timestamp":"Elizabeth Warren","strike":"Half true","proportion":0.25925925925925924},{"timestamp":"Kamala Harris","strike":"Mostly false","proportion":-0.25},{"timestamp":"Kamala Harris","strike":"False","proportion":-0.3125},{"timestamp":"Kamala Harris","strike":"Mostly true","proportion":0.3125},{"timestamp":"Kamala Harris","strike":"Half true","proportion":0.125},{"timestamp":"Pete Buttigieg","strike":"Mostly false","proportion":-0.3333333333333333},{"timestamp":"Pete Buttigieg","strike":"Half true","proportion":0.26666666666666666},{"timestamp":"Pete Buttigieg","strike":"True","proportion":0.2},{"timestamp":"Pete Buttigieg","strike":"False","proportion":-0.06666666666666667},{"timestamp":"Pete Buttigieg","strike":"Mostly true","proportion":0.13333333333333333},{"timestamp":"Amy Klobuchar","strike":"Mostly false","proportion":-0.07692307692307693},{"timestamp":"Amy Klobuchar","strike":"True","proportion":0.3076923076923077},{"timestamp":"Amy Klobuchar","strike":"Half true","proportion":0.23076923076923078},{"timestamp":"Amy Klobuchar","strike":"Mostly true","proportion":0.3076923076923077},{"timestamp":"Amy Klobuchar","strike":"False","proportion":-0.07692307692307693},{"timestamp":"Beto O'Rourke","strike":"False","proportion":-0.07692307692307693},{"timestamp":"Beto O'Rourke","strike":"True","proportion":0.23076923076923078},{"timestamp":"Beto O'Rourke","strike":"Mostly false","proportion":-0.23076923076923078},{"timestamp":"Beto O'Rourke","strike":"Mostly true","proportion":0.3076923076923077},{"timestamp":"Beto O'Rourke","strike":"Half true","proportion":0.15384615384615385},{"timestamp":"Michael Bloomberg","strike":"Half true","proportion":0.25},{"timestamp":"Michael Bloomberg","strike":"True","proportion":0.25},{"timestamp":"Michael Bloomberg","strike":"Mostly true","proportion":0.3333333333333333},{"timestamp":"Michael Bloomberg","strike":"Mostly false","proportion":-0.08333333333333333},{"timestamp":"Michael Bloomberg","strike":"False","proportion":-0.08333333333333333}]),
    }
  },

  props: {
    datastr: String,
    title: String,
  },

  components: {
  },

  mounted() {
  },

  methods: {
  },

  directives: {

    // Copyright 2021 Observable, Inc.
    // Released under the ISC license.
    // https://observablehq.com/@d3/diverging-stacked-bar-chart
    stackedbar(el, binding, vnode) {

      if (! binding.value.data) return;
      const data = JSON.parse(binding.value.data);

      var margin = { top: 20, right: 20, bottom: 30, left: 30 },
          width = 960,
          height = 600;

      d3.select(el).selectAll("*").remove();
      var svg = d3.select(el).append("svg")
          .attr("viewBox", [0, 0, width, height])
          .attr("style", "max-width: 100%; height: auto; height: intrinsic; overflow: visible;");

      var title, yRange;
      const xFormat = "+%";
      const xLabel = `← more reduced · ${binding.value.title} · more added →`;
      var yDomain = d3.groupSort(data, D => d3.sum(D, d => -Math.min(0, d.proportion)), d => d.timestamp);
      var zDomain = [...d3.union(data.map(d => d.strike))];
      const colors = d3.schemeSpectral[zDomain.length];
      const xRange = [margin.left, width - margin.right]; // [left, right]
      const yPadding = 0.1; // amount of y-range to reserve to separate bars
      const offset = d3.stackOffsetDiverging; // stack offset method
      const order = (series) => { // stack order method; try also d3.stackOffsetNone
        return [ // by default, stack negative series in reverse order
          ...series.map((S, i) => S.some(([, y]) => y < 0) ? i : null).reverse(),
          ...series.map((S, i) => S.some(([, y]) => y < 0) ? null : i)
        ].filter(i => i !== null);
      };

      // Compute values.
      const X = d3.map(data, d => d.proportion);
      const Y = d3.map(data, d => d.timestamp);
      const Z = d3.map(data, d => d.strike);

      // Compute default y- and z-domains, and unique them.
      // if (yDomain === undefined) yDomain = Y;
      // if (zDomain === undefined) zDomain = Z;
      yDomain = new d3.InternSet(yDomain.sort((a,b) => {
        return (new Date(a) - new Date(b));
      }));
      zDomain = new d3.InternSet(zDomain);

      // Omit any data not present in the y- and z-domains.
      const I = d3.range(X.length).filter(i => yDomain.has(Y[i]) && zDomain.has(Z[i]));

      // If the height is not specified, derive it from the y-domain.
      if (height === undefined) height = yDomain.size * 25 + margin.top + margin.bottom;
      if (yRange === undefined) yRange = [height - margin.bottom, margin.top];

      // Compute a nested array of series where each series is [[x1, x2], [x1, x2],
      // [x1, x2], …] representing the x-extent of each stacked rect. In addition,
      // each tuple has an i (index) property so that we can refer back to the
      // original data point (data[i]). This code assumes that there is only one
      // data point for a given unique y- and z-value.
      const series = d3.stack()
            .keys(zDomain)
            .value(([, I], z) => X[I.get(z)])
            .order(order)
            .offset(offset)
      (d3.rollup(I, ([i]) => i, i => Y[i], i => Z[i]))
        .map(s => s.map(d => Object.assign(d, {i: d.data[1].get(s.key)})));

      // Compute the default y-domain. Note: diverging stacks can be negative.
      const xDomain = d3.extent(series.flat(2));

      // Construct scales, axes, and formats.
      const xScale = d3.scaleLinear(xDomain, xRange);
      const yScale = d3.scaleBand(yDomain, yRange).paddingInner(yPadding);
      const color = d3.scaleOrdinal(zDomain, colors);
      const xAxis = d3.axisTop(xScale).ticks(width / 80, xFormat);
      const yAxis = d3.axisLeft(yScale).tickSize(0);

      // Compute titles.
      if (title === undefined) {
        const formatValue = xScale.tickFormat(100, xFormat);
        title = i => `${Y[i]}\n${Z[i]}\n${formatValue(X[i])}`;
      } else {
        const O = d3.map(data, d => d);
        const T = title;
        title = i => T(O[i], i, data);
      }

      svg.append("g")
        .attr("transform", `translate(0,${margin.top})`)
        .call(xAxis)
        .call(g => g.select(".domain").remove())
        .call(g => g.selectAll(".tick line").clone()
              .attr("y2", height - margin.top - margin.bottom)
              .attr("stroke-opacity", 0.1))
        .call(g => g.append("text")
              .attr("x", xScale(0))
              .attr("y", -22)
              .attr("fill", "currentColor")
              .attr("text-anchor", "middle")
              .text(xLabel));

      const bar = svg.append("g")
            .selectAll("g")
            .data(series)
            .join("g")
            .attr("fill", ([{i}]) => color(Z[i]))
            .selectAll("rect")
            .data(d => d)
            .join("rect")
            .attr("x", ([x1, x2]) => Math.min(xScale(x1), xScale(x2)))
            .attr("y", ({i}) => yScale(Y[i]))
            .attr("width", ([x1, x2]) => Math.abs(xScale(x1) - xScale(x2)))
            .attr("height", yScale.bandwidth());

      if (title) bar.append("title")
        .text(({i}) => title(i));

      svg.append("g")
        .attr("transform", `translate(${xScale(0)},0)`)
        .call(yAxis)
        .call(g => g.selectAll(".tick text")
              .attr("dx", -3)
              .attr("x", y => { // Find the minimum x-value for the corresponding y-value.
                const x = d3.min(series, S => S.find(d => Y[d.i] === y)?.[0]);
                return xScale(x) - xScale(0);
              }));
    },

  }

}
</script>
