<template>
<v-app>
  <v-navigation-drawer
    v-model="drawer"
    :mini-variant="true"
    :clipped="clipped"
    fixed
    app
    >
    <v-list>
      <v-list-item
        v-for="(item, i) in items"
        :key="i"
        :to="item.to"
        router
        exact
        >
        <v-list-item-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title v-text="item.title" />
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
  <v-app-bar
    :clipped-left="clipped"
    fixed
    app
    >
    <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
    <v-toolbar-title v-text="title" />
  </v-app-bar>
  <v-main>
    <v-container fluid class="ma-2">
	    <nuxt />
    </v-container>
  </v-main>
  <v-footer
    :absolute="true"
    app
    >
    <span>&copy;naren {{ new Date().getFullYear() }}</span>
  </v-footer>

  <Snackbar />

</v-app>
</template>

<script>
import Snackbar from '@/components/Snackbar';

export default {
  data () {
    return {
      clipped: true,
      drawer: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Welcome',
          to: '/'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Inspire',
          to: '/maxpain'
        }
      ],
      title: 'Nifty Option Chain Analysis'
    }
  },

  mounted() {
    // this.$store.dispatch('sinfo/fetch_symbols');
    // this.$store.dispatch('user/fetch_info');
  },

  components: {
    Snackbar,
  },

}
</script>
