<template>
<v-main>
  <v-card>
    <v-card-title>
      <v-select v-model="index" :items="Object.keys(indexs)" label="Index"></v-select>
      <v-menu ref="menu0" v-model="menu0_state" :close-on-content-click="false"
              :return-value.sync="startdate" transition="scale-transition" offset-y
              min-width="auto">
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="startdate"
            label="Start"
            prepend-icon="mdi-calendar"
            readonly
            v-bind="attrs"
            v-on="on"
            ></v-text-field>
        </template>
        <v-date-picker
          v-model="startdate"
          no-title
          scrollable
          @change="$refs.menu0.save(startdate) ; menu0=false"
          >
        </v-date-picker>
      </v-menu>
      <v-menu ref="menu1" v-model="menu1_state" :close-on-content-click="false"
              :return-value.sync="enddate" transition="scale-transition" offset-y
              min-width="auto">
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="enddate"
            label="End"
            prepend-icon="mdi-calendar"
            readonly
            v-bind="attrs"
            v-on="on"
            ></v-text-field>
        </template>
        <v-date-picker
          v-model="enddate"
          no-title
          scrollable
          @change="$refs.menu1.save(enddate) ; menu1=false"
          >
        </v-date-picker>
      </v-menu>
      <v-btn :loading="busy>0" :disabled="busy>0" @click.prevent="process()">Process</v-btn>
      <v-switch v-model="monthlytable" label="Show Monthly Table"></v-switch>
      <v-switch v-model="yearlytable" label="Show Yearly Table"></v-switch>
    </v-card-title>
    <v-card-text>
      <v-row>
        <v-col v-if="pdata && pdata.dates && (pdata.dates.length > 0)"><MultiLine3 :data="pdata" tformat="%Y-%m-%d"/></v-col>
      </v-row>
      <v-row>
        <v-col v-if="fdata && fdata.dates && (fdata.dates.length > 0)"><MultiLine3 :data="fdata" tformat="%Y-%m-%d"/></v-col>
      </v-row>
      <v-row v-for="confname in Object.keys(tmdata)" :key="`monthly-${confname}`" v-if="monthlytable">
        <v-card-title>Monthly-{{confname}}</v-card-title>
        <v-col>
          <v-data-table
            :headers="tmhead"
            :items="tmdata[confname]"
            :search="tsearch"
            :items-per-page="-1"
            :item-class="tmdata_class"
            :options="{sortBy: ['on']}"
            >
            <template v-slot:item.Sl = "{ index }">
              {{ index + 1 }}
            </template>
          </v-data-table>
        </v-col>
      </v-row>
      <v-row v-for="confname in Object.keys(tydata)" :key="`yearly-${confname}`" v-if="yearlytable">
        <v-card-title>Yearly-{{confname}}</v-card-title>
        <v-col>
          <v-data-table
            :headers="tmhead"
            :items="tydata[confname]"
            :search="tsearch"
            :items-per-page="-1"
            :item-class="tmdata_class"
            :options="{sortBy: ['on']}"
            >
            <template v-slot:item.Sl = "{ index }">
              {{ index + 1 }}
            </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</v-main>
</template>

<script>
// import invest from '@/plugins/investutils';
import chartutils from "@/plugins/chartutils";

export default {
  data () {
    return {
      busy: 0,
      menu0_state: false,
      menu1_state: false,
      startdate: '2022-01-01',
      enddate: (new Date()).toJSON().slice(0, 10),
      index: 'NIFTY',
      lastbuy: {},
      indexs: {
        NIFTY: {
          name: 'NIFTY',
          id: 1,
          lotsize: 50,
          marginperlot: 140000,
          decaypday: 120/20,
          slippage: 5,
        },
        BANKNIFTY: {
          name: 'BANKNIFTY',
          id: 2,
          lotsize: 25,
          marginperlot: 180000,
          decaypday: 180/20,
          slippage: 10,
        },
      },
      configs: [
        { name: 'indexstrategy1',
          analysis: 'indexstrategy1',
          enabled: true,
          sector: 'index',
          dma_periods: [2],
          dma_period: 2,
          // doji: 0.005, /* 0.5 % */
          circuitdays: 10,
          trades: ['up', 'down'],
          circuitpc: {
            NIFTY: 0.97,
            BANKNIFTY: 0.95,
          },
          funds: 200000,
        },
        //{ name: 'indexstrategy2',
        //  analysis: 'indexstrategy2',
        //  enabled: true,
        //  sector: 'index',
        //  dma_periods: [2, 3],
        //  funds: 200000,
        //  noiseSigma: 0.001,
        //  trades: ['up'],
        //},
        {
          name: 'catchmoves_indexstrategy1',
          analysis: 'catchmoves',
          enabled: true,
          prodready: [],
          sector: 'index',
          funds: 200000,
          numLossTrades: 3,
          lossTradeSigma: 0.8,
          strategies: [
            {
              analysis: 'indexstrategy1',
              dma_periods: [2],
              dma_period: 2,
              circuitdays: 10,
              trades: ['up', 'down'],
              circuitpc: {
                NIFTY: 0.97,
                BANKNIFTY: 0.95,
              },
            },
          ],
          trades: ['up', 'down'],
        },
        {
          name: 'indexstrategy1_global0',
          analysis: 'globaldir',
          enabled: true,
          prodready: [],
          sector: 'index',
          funds: 200000,
          region: 'updown',
          sma_period: 9,
          dirthreshold: 0.5, /* in percent */
          strategies: [
            {
              analysis: 'indexstrategy1',
              dma_periods: [2],
              dma_period: 2,
              circuitdays: 10,
              trades: ['up', 'down'],
              circuitpc: {
                NIFTY: 0.97,
                BANKNIFTY: 0.95,
              },
            },
          ],
          trades: ['up', 'down'],
        },
        {
          name: 'indexstrategy1_global2',
          analysis: 'globaldir',
          enabled: true,
          prodready: [],
          sector: 'index',
          funds: 200000,
          region: 'both',
          sma_period: 3,
          dirthreshold: 0.5, /* in percent */
          strategies: [
            {
              analysis: 'indexstrategy1',
              dma_periods: [2],
              dma_period: 2,
              circuitdays: 10,
              trades: ['up', 'down'],
              circuitpc: {
                NIFTY: 0.97,
                BANKNIFTY: 0.95,
              },
            },
          ],
          trades: ['up', 'down'],
        },
        {
          name: 'indexstrategy1_tradenthday1',
          analysis: 'tradeNthday',
          enabled: true,
          prodready: [],
          sector: 'index',
          funds: 200000,
          nthday: 1,
          strategies: [
            {
              analysis: 'indexstrategy1',
              dma_periods: [2],
              dma_period: 2,
              circuitdays: 10,
              trades: ['up', 'down'],
              circuitpc: {
                NIFTY: 0.97,
                BANKNIFTY: 0.95,
              },
            },
          ],
          trades: ['up', 'down'],
        },
        //{ name: 'indexstrategy3_3',
        //  analysis: 'indexstrategy3',
        //  enabled: true,
        //  sector: 'index',
        //  strategies: [
        //    {
        //      analysis: 'indexstrategy1',
        //      dma_period: 2,
        //      circuitdays: 10,
        //      circuitpc: {
        //        NIFTY: 0.97,
        //        BANKNIFTY: 0.95,
        //      },
        //      trades: ['down'],
        //    },
        //    {
        //      analysis: 'indexstrategy2',
        //      dma_periods: [2, 3],
        //      dayinc: 1,
        //      noiseSigma: 0.001,
        //      trades: ['down'],
        //    },
        //  ],
        //  funds: 200000,
        //  trades: ['up', 'down'],
        //},
        //{ name: 'globaltrend0',
        //  analysis: 'globaltrend0',
        //  enabled: true,
        //  sector: 'index',
        //  period: 20,
        //  funds: 200000,
        //  sigma: 0.35,
        //  sigmaX: 5,
        //  trades: ['up', 'down'],
        //},
      ],
      pdata: null,
      fdata: null,
      monthlytable: false,
      yearlytable: true,
      thead: [
        { text: 'Sl', value: 'Sl', sortable: false },
        { text: 'Symbol', value: 'symbol', sortable: false },
        { text: 'Date', value: 'date', sortable: true },
        { text: 'Value', value: 'value', sortable: false },
        { text: 'Nos', value: 'count', sortable: false },
        { text: 'Funds', value: 'funds', sortable: false },
        { text: 'Points', value: 'points', sortable: true },
        { text: 'Total Points', value: 'accpoints', sortable: false },
      ],
      tmdata: {},
      tydata: {},
      tmhead: [
        { text: 'Sl', value: 'Sl', sortable: false },
        { text: 'MonYear', value: 'monyear', sortable: false },
        { text: 'Trades', value: 'trades', sortable: false },
        { text: 'Points', value: 'points', sortable: false },
        { text: 'Funds', value: 'funds', sortable: false },
        { text: 'Profit Trades', value: 'ptrades', sortable: false },
        { text: 'Loss Trades', value: 'ltrades', sortable: false },
        { text: 'Average', value: 'avg', sortable: false },
        { text: 'Trade Ratio', value: 'tratio', sortable: false },
      ],
      tsearch: '',
    }
  },

  components: {
  },

  computed: {
    user() {
      return this.$store.state.user.info;
    },
    is_dev() {
      return process.env.NODE_ENV == 'development';
    },
    is_prod() {
      return process.env.NODE_ENV == 'production';
    },
  },

  mounted() {
  },

  methods: {
    sleep(ms) {
      return new Promise(r => setTimeout(r, ms));
    },
    /* { "dt": "2016-01-01", "o": 11396.95, "h": 11455, "l": 11200, "c": 11321.95,
       "totqty": 400, "totvalue": 4546007.9, "tottrades": 159 }
    */
    async process() {
      /* init */
      this.pdata = {
        y: 'Index Compare Analysis',
        series: [],
        dates: null,
      };
      this.fdata = {
        y: 'Index Funds Compare Analysis',
        series: [],
        dates: null,
      };
      /* */
      let tdata = {};
      const configs = this.configs.filter(c => c.enabled);
      for (var ic=0; ic<configs.length; ic++) {
        const confname = configs[ic].name;
        let ret = null;
        this.pdata.series.push({name: confname, values: []});
        this.fdata.series.push({name: confname, values: []});
        this.busy++;
        var symbdata;
        if (configs[ic].hasOwnProperty('momentum_spec'))
          configs[ic].momentum_days = this.momentum_spec2days(configs[ic].momentum_spec);
        configs[ic].startdate = this.startdate;
        configs[ic].enddate = this.enddate;
        if (this.is_dev) {
          symbdata = (this.index == 'NIFTY') ?
            this.$stockdata.nifty1023.filter(x => /^2023/.test(x.dt) || /^2023/.test(x.dt)) :
            //this.$stockdata.banknifty1023.filter(x => /^201[56789]/.test(x.dt) || /^202/.test(x.dt));
          this.busy--;
        } else {
          await this.$axios.$post('/api/strategyAnalysis', {strategy: configs[ic].analysis, config: JSON.stringify(configs[ic])}).then(
            (d) => {
              symbdata = d;
              this.busy--;
            }).catch((e) => { this.busy--; });
        }
        if (!symbdata) continue;
        /* Process*/
        ret = chartutils.analyseStrategy(JSON.parse(JSON.stringify(symbdata)), this.index, configs[ic]);
        //console.log(ret);
        /* chart */
        if (null == this.pdata.dates) {
          this.pdata.dates = symbdata.map(r => r.dt).sort();
          this.fdata.dates = this.pdata.dates;
        }
        tdata[confname] = [];
        /* */
        var funds = configs[ic].funds, trades = 0;
        this.lastbuy = {};
        var accpoints = 0;
        this.pdata.dates.forEach((date, di) => {
          if (! (date in ret.daywise)) {
            this.pdata.series[ic].values.push(accpoints);
            this.fdata.series[ic].values.push(funds);
            return;
          }
          ret.daywise[date].sell.forEach(b => {
            trades++;
            const valarr = this.lastbuy[confname].map(lb => lb.value);
            const value = valarr.reduce((a, b) => a + b, 0) / valarr.length;
            let points = this.lastbuy[confname][0].is_buy ? (b[1] - value) : (value - b[1]);
            console.assert(b[3] >= 1);
            points -= b[3] * this.indexs[b[0]].decaypday * valarr.length;
            points -= this.indexs[b[0]].slippage; /* for tax & stuff */
            accpoints += points;
            var td = {
              symbol: b[0],
              date: date,
              value: b[1],
              is_buy: b[2],
              is_sell: ! b[2],
              count: this.lastbuy[confname][0].count,
              points: points,
              accpoints: accpoints,
              trades: trades,
            };
            funds += points * td.count;
            td.funds = funds;
            delete this.lastbuy[confname];
            tdata[confname].unshift(td);
          });
          ret.daywise[date].buy.forEach(b => {
            var td = {
              symbol: b[0],
              date: date,
              value: b[1],
              is_buy: b[2],
              is_sell: ! b[2],
              count: this.indexs[b[0]].lotsize * Math.floor(Math.abs(funds / this.indexs[b[0]].marginperlot)),
              points: 0,
              accpoints: 0,
              trades: trades,
            };
            if (td.count == 0) td.count = this.indexs[b[0]].lotsize;
            td.funds = funds;
            if (confname in this.lastbuy) {
              this.lastbuy[confname].push(td);
            } else {
              this.lastbuy[confname] = [td];
            }
            tdata[confname].unshift(td);
          });
          this.pdata.series[ic].values.push(accpoints);
          this.fdata.series[ic].values.push(funds);
        });
      }
      /* make monthly table */
      this.tmdata = {};
      this.tydata = {};
      Object.keys(tdata).forEach(k => {
        const yds = [... new Set(tdata[k].map(a => a.date.slice(0, 4)))].sort();
        const mds = [... new Set(tdata[k].map(a => a.date.slice(0, 7)))].sort();
        this.tmdata[k] = [];
        this.tydata[k] = [];
        yds.forEach(yk => {
          const d = tdata[k].filter(a => (a.points != 0) && a.date.includes(yk));
          let di = {
            monyear: yk,
            trades: d.length,
            points: d.reduce((i, a) => i+a.points, 0),
            ptrades: d.filter(a => a.points > 0).length,
            ltrades: d.filter(a => a.points <= 0).length,
          };
          di.avg = (di.points / di.trades).toFixed(2);
          di.tratio = (di.ptrades / di.trades).toFixed(2);
          this.tydata[k].push(di);
        });
        mds.forEach(mk => {
          const d = tdata[k].filter(a => (a.points != 0) && a.date.includes(mk));
          let di = {
            monyear: mk,
            trades: d.length,
            points: d.reduce((i, a) => i+a.points, 0),
            ptrades: d.filter(a => a.points > 0).length,
            ltrades: d.filter(a => a.points <= 0).length,
          };
          di.avg = (di.points / di.trades).toFixed(2);
          di.tratio = (di.ptrades / di.trades).toFixed(2);
          this.tmdata[k].push(di);
        });
        let di = {
          monyear: 'Total',
          trades: this.tydata[k].reduce((i, a) => i+a.trades, 0),
          points: this.tydata[k].reduce((i, a) => i+a.points, 0),
          ptrades: this.tydata[k].reduce((i, a) => i+a.ptrades, 0),
          ltrades: this.tydata[k].reduce((i, a) => i+a.ltrades, 0),
        };
        di.avg = (di.points / di.trades).toFixed(2);
        this.tydata[k].push(di);
        di = {
          monyear: 'Total',
          trades: this.tmdata[k].reduce((i, a) => i+a.trades, 0),
          points: this.tmdata[k].reduce((i, a) => i+a.points, 0),
          ptrades: this.tmdata[k].reduce((i, a) => i+a.ptrades, 0),
          ltrades: this.tmdata[k].reduce((i, a) => i+a.ltrades, 0),
        };
        di.avg = (di.points / di.trades).toFixed(2);
        this.tmdata[k].push(di);
      });
    },
    tdata_class(d) {
      return (d.is_buy && d.is_sell) ? 'purple lighten-3' : d.is_buy ? 'green lighten-3' : d.is_sell ? 'red lighten-3' : '';
    },
    tmdata_class(d) {
      return (d.points > 0) ? 'green lighten-3' : 'red lighten-3';
    },
    momentum_spec2days(spec) {
      const mult = spec.includes('year') ? 246 : spec.includes('month') ? 20.5 : spec.includes('week') ? 4.73 : 1;
      return Math.ceil(parseInt(spec) * mult);
    }
  }

}
</script>
