<template>
<v-container fluid grid-list-md>
  <v-layout row wrap>
    <v-flex xs12 md4 lg3 v-for="(it, idx) in items.filter(i=>i.enabled())" :key="idx">
      <v-card raised class="blue-grey lighten-5 pa-3 ma-2" :to="item_path(it.title)">
	      <v-card-title class="headline">
          {{it.title}}
	      </v-card-title>
        <pre>{{user}}</pre>
	    </v-card>
    </v-flex>
  </v-layout>
</v-container>
</template>

<script>
export default {
  data () {
    return {
      items: [
        {
          icon: 'mdi-apps',
          title: 'Nifty 100',
          color: 'blue lighten-3',
          enabled: ()=>{ return (null === this.user) && false; },
          js: ()=>{return '/nifty100-aj2';}
        },
        {
          icon: 'mdi-apps',
          title: 'Strategy Analysis',
          color: 'blue lighten-3',
          enabled: ()=>{ return (null === this.user) && false; },
          js: ()=>{return '/strategy-analysis';}
        },
        {
          icon: 'mdi-apps',
          title: 'Index Analysis',
          color: 'blue lighten-3',
          enabled: ()=>{ return (null === this.user) && true; },
          js: ()=>{return '/index-analysis';}
        },
        {
          icon: 'mdi-apps',
          title: 'Stock Analysis',
          color: 'blue lighten-3',
          enabled: ()=>{ return (null === this.user) && true; },
          js: ()=>{return '/stock-analysis';}
        },
        {
          icon: 'mdi-apps',
          title: 'Index Analysis Compare',
          color: 'blue lighten-3',
          enabled: ()=>{ return (null === this.user) && (process.env.NODE_ENV == 'development'); },
          js: ()=>{return '/index-analysis-compare';}
        },
      ]
    }
  },

  computed: {
    user() {
      return this.$store.state.user.info;
    },
  },

  methods: {
    item_path(title) {
      let it = this.items.find(el => el.title==title);
      return (it) ? it.js() : '/';
    },
  },

  mounted() {
  },

  components: {
  }

}
</script>
