<template>
<v-main>
  <v-card>
    <v-card-actions>
      <v-select v-model="index" :items="Object.keys(indexs)" label="Index"></v-select>
      <v-menu ref="menu0" v-model="menu0_state" :close-on-content-click="false"
              :return-value.sync="startdate" transition="scale-transition" offset-y
              min-width="auto">
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="startdate"
            label="Start"
            prepend-icon="mdi-calendar"
            readonly
            v-bind="attrs"
            v-on="on"
            ></v-text-field>
        </template>
        <v-date-picker
          v-model="startdate"
          no-title
          scrollable
          @change="$refs.menu0.save(startdate) ; menu0=false"
          >
        </v-date-picker>
      </v-menu>
      <v-menu ref="menu1" v-model="menu1_state" :close-on-content-click="false"
              :return-value.sync="enddate" transition="scale-transition" offset-y
              min-width="auto">
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="enddate"
            label="End"
            prepend-icon="mdi-calendar"
            readonly
            v-bind="attrs"
            v-on="on"
            ></v-text-field>
        </template>
        <v-date-picker
          v-model="enddate"
          no-title
          scrollable
          @change="$refs.menu1.save(enddate) ; menu1=false"
          >
        </v-date-picker>
      </v-menu>
      <v-switch v-model="gethistory" label="Get History Data"></v-switch>
      <v-switch v-model="showlastquotes" label="Show Last Quotes"></v-switch>
      <v-btn :loading="busy>0" :disabled="busy>0" @click.prevent="process(false)">Process</v-btn>
      <v-switch v-model="transtable" label="Show Individual Trans Table"></v-switch>
      <v-switch v-model="ttable" label="Show Trans Table"></v-switch>
      <v-switch v-model="monthlytable" label="Show Monthly Table"></v-switch>
      <v-switch v-model="yearlytable" label="Show Yearly Table"></v-switch>
      <v-btn :loading="busy>0" :disabled="busy>0" @click.prevent="process(true)">Get Today</v-btn>
      <v-btn :loading="busy>0" :disabled="busy>0" @click.prevent="updateOhlc()">Update OHLC</v-btn>
    </v-card-actions>

    <v-card v-for="(lbs, lbks) in lastbuy" :color="(lbks == indexs[index].confnames[conftab]) ? '#00ACC1' : '#E0F7FA'" class="pa-2" :key="`lb${lbks}`">
      <v-alert v-for="(lb, lbk) in lbs" :color="(lb.date == (new Date()).toJSON().slice(0, 10)) ? '#F0F4C3' : '#C8E6C9'" variant="tonal" :key="`lbk_${lbks}_${lbk}`">
        <v-btn depressed color="primary">{{`${lbks} Lastbuy: ${lb.symbol}`}}</v-btn>
        <v-btn depressed color="info">{{`${lb.date}`}}</v-btn>
        <v-btn depressed :color="lb.is_buy ? 'success':'error'">{{lb.is_buy ? 'BUY' : 'SELL'}}</v-btn>
      </v-alert>
    </v-card>
    <v-card v-for="(trans, confname) in tdaytrans" v-show="tdaytrans && trans.length>0" :color="(confname == indexs[index].confnames[conftab]) ? '#3949AB' : '#E8EAF6'" class="pa-2" :key="`tt${confname}`">
      <v-alert v-for="(tran,tranid) in trans" :color="tran.is_buy ? (tran.days4sale==0 ? '#F0F4C3' : '#C8E6C9') : (tran.days4sale==0 ? '#FFCC80' : '#FFA726')" :key="`tran${tranid}${confname}`" elevation="2">
        <v-btn depressed color="primary">{{(tran.days4sale==0 ? `${confname} : New Trans: ` : `${confname} : Close Trans: `) + tran.symbol}}</v-btn>
        <v-btn depressed color="info">{{`${tran.date} days4sale:${tran.days4sale}`}}</v-btn>
        <v-btn depressed :color="tran.is_buy ? 'success':'error'">{{tran.is_buy ? 'BUY' : 'SELL'}}</v-btn>
      </v-alert>
    </v-card>

    <v-tabs v-model="conftab" align-with-title>
      <v-tabs-slider color="yellow"></v-tabs-slider>
        <v-tab v-for="confname in indexs[index].confnames" :key="`tab${confname}`">
              {{ confname }}
        </v-tab>
    </v-tabs>
  </v-card>

  <v-tabs-items v-model="conftab">
    <v-tab-item v-for="confname in indexs[index].confnames" :key="`tabitem${confname}`">
      <v-card color="#FFF59D" v-if="showlastquotes && (confname in lastquotes)">
        <v-alert type="info" class="pa-2" v-for="(q, qi) in lastquotes[confname]" :key="`quote${confname}${qi}`">{{JSON.stringify(q)}}</v-alert>
      </v-card>

      <v-card flat>
        <v-card-title>{{index + ': ' + configs[confname].analysis + ': ' + confname}}</v-card-title>
        <v-card-text>
          <v-row v-if="confname in pdata">
            <h3>{{confname}}</h3>
            <v-col><MultiLine3 :data="pdata[confname]" tformat="%Y-%m-%d"/></v-col>
          </v-row>
          <v-text-field v-model="transsearch" append-icon="mdi-magnify"
                        label="Search" single-line hide-details
                        v-if="transtable && (confname in transdata)"></v-text-field>
          <v-row v-if="transtable && (confname in transdata)">
            <v-col>
              <v-data-table
                :headers="transhead"
                :items="transdata[confname].tdata"
                :search="transsearch"
                :items-per-page="10"
                :item-class="tdata_class"
                :options="{sortBy: ['on']}"
                >
                <template v-slot:item.Sl = "{ index }">
                  {{ index + 1 }}
                </template>
              </v-data-table>
            </v-col>
          </v-row>
          <v-text-field v-model="tsearch" append-icon="mdi-magnify"
                        label="Search" single-line hide-details></v-text-field>
          <v-row v-if="ttable">
            <v-col>
              <v-data-table
                :headers="thead"
                :items="tdata[confname]"
                :search="tsearch"
                :items-per-page="-1"
                :item-class="tdata_class"
                :options="{sortBy: ['on']}"
                >
                <template v-slot:item.Sl = "{ index }">
                  {{ index + 1 }}
                </template>
                <template v-slot:item.symbol="{ item }">
                  <a :href="'https://in.tradingview.com/chart/?symbol=NSE%3A' + encodeURIComponent(item.symbol)" target="_blank">
                    {{ item.symbol }}
                  </a>
                  <a :href="'https://www.screener.in/company/'+encodeURIComponent(item.symbol)+'/#chart'" target="_blank">
                  <v-icon>mdi-open-in-new</v-icon>
                </a>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
          <v-row v-if="monthlytable">
            <v-col>
              <v-data-table
                :headers="tmhead"
                :items="tmdata[confname]"
                :search="tsearch"
                :items-per-page="24"
                :item-class="tmdata_class"
                :options="{sortBy: ['on']}"
                >
                <template v-slot:item.Sl = "{ index }">
                  {{ index + 1 }}
                </template>
              </v-data-table>
            </v-col>
          </v-row>
          <v-row v-if="yearlytable">
            <v-col>
              <v-data-table
                :headers="tmhead"
                :items="tydata[confname]"
                :search="tsearch"
                :items-per-page="-1"
                :item-class="tmdata_class"
                :options="{sortBy: ['on']}"
                >
                <template v-slot:item.Sl = "{ index }">
                  {{ index + 1 }}
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-tab-item>
  </v-tabs-items>
</v-main>
</template>

<script>
// import invest from '@/plugins/investutils';
import chartutils from "@/plugins/chartutils";

export default {
  data () {
    return {
      busy: 0,
      menu0_state: false,
      menu1_state: false,
      startdate: '2023-01-01',
      enddate: (new Date()).toJSON().slice(0, 10),
      imloaded: 0,
      conftab: 0,
      /*
       */
      index: 'NIFTY',
      lastbuy: {},
      tdaytrans: {},
      lastquotes: {},
      indexs: {
        NIFTY: {
          name: 'NIFTY',
          id: 1,
          lotsize: 50,
          marginperlot: 140000,
          decaypday: 120/20,
          slippage: 5,
          confnames: [],
        },
        BANKNIFTY: {
          name: 'BANKNIFTY',
          id: 2,
          lotsize: 25,
          marginperlot: 180000,
          decaypday: 180/20,
          slippage: 10,
          confnames: [],
        },
      },
      configs: {
        indexstrategy1: {
          analysis: 'indexstrategy1',
          enabled: true,
          prodready: ['NIFTY'],
          sector: 'index',
          dma_periods: [2],
          dma_period: 2,
          // doji: 0.005, /* 0.5 % */
          circuitdays: 10,
          trades: ['up', 'down'],
          circuitpc: {
            NIFTY: 0.97,
            BANKNIFTY: 0.95,
          },
          funds: 200000,
        },
        //indexstrategy2: {
        //  analysis: 'indexstrategy2',
        //  enabled: true,
        //  prodready: [],
        //  sector: 'index',
        //  dma_periods: [2, 3],
        //  funds: 200000,
        //  circuitpc: {
        //    NIFTY: 0.97,
        //    BANKNIFTY: 0.95,
        //  },
        //  noiseSigma: 0.001,
        //  trades: ['up'],
        //},
        catchmoves: {
          analysis: 'catchmoves',
          enabled: true,
          prodready: ['NIFTY'],
          sector: 'index',
          funds: 200000,
          numLossTrades: 3,
          strategies: [
            {
              analysis: 'indexstrategy1',
              dma_periods: [2],
              dma_period: 2,
              circuitdays: 10,
              trades: ['up', 'down'],
              circuitpc: {
                NIFTY: 0.97,
                BANKNIFTY: 0.95,
              },
            },
          ],
          trades: ['up', 'down'],
        },
        global0: {
          analysis: 'globaldir',
          enabled: true,
          prodready: ['NIFTY'],
          sector: 'index',
          funds: 200000,
          region: 'updown',
          sma_period: 9,
          dirthreshold: 0.5, /* in percent */
          strategies: [
            {
              analysis: 'indexstrategy1',
              dma_periods: [2],
              dma_period: 2,
              circuitdays: 10,
              trades: ['up', 'down'],
              circuitpc: {
                NIFTY: 0.97,
                BANKNIFTY: 0.95,
              },
            },
          ],
          trades: ['up', 'down'],
        },
        indexstrategy1_global2: {
          analysis: 'globaldir',
          enabled: true,
          prodready: [],
          sector: 'index',
          funds: 200000,
          region: 'both',
          sma_period: 3,
          dirthreshold: 0.5, /* in percent */
          strategies: [
            {
              analysis: 'indexstrategy1',
              dma_periods: [2],
              dma_period: 2,
              circuitdays: 10,
              trades: ['up', 'down'],
              circuitpc: {
                NIFTY: 0.97,
                BANKNIFTY: 0.95,
              },
            },
          ],
          trades: ['up', 'down'],
        },
        indexstrategy1_opposite: {
          analysis: 'oppositeStrategy',
          enabled: false,
          prodready: [],
          sector: 'index',
          funds: 200000,
          region: 'both',
          strategies: [
            {
              analysis: 'indexstrategy1',
              dma_periods: [2],
              dma_period: 2,
              circuitdays: 10,
              trades: ['up', 'down'],
              circuitpc: {
                NIFTY: 0.97,
                BANKNIFTY: 0.95,
              },
            },
          ],
          trades: ['up', 'down'],
        },
        //indexstrategy2_1_2: {
        //  analysis: 'nthtrade',
        //  enabled: false,
        //  prodready: [],
        //  sector: 'index',
        //  funds: 200000,
        //  trade_id: 1,
        //  invert_trades: false,
        //  strategies: [
        //    {
        //      analysis: 'indexstrategy2',
        //      dma_periods: [2, 3],
        //      circuitpc: {
        //        NIFTY: 0.97,
        //        BANKNIFTY: 0.95,
        //      },
        //      noiseSigma: 0.001,
        //      trades: ['up'],
        //    }
        //  ],
        //  trades: ['up', 'down'],
        //},
        //indexstrategy2_2: {
        //  analysis: 'indexstrategy2',
        //  enabled: false,
        //  prodready: [],
        //  sector: 'index',
        //  dma_periods: [2, 3],
        //  funds: 200000,
        //  noiseSigma: 0.001,
        //  trades: ['down'],
        //},
        //indexstrategy2_3: {
        //  analysis: 'indexstrategy2',
        //  enabled: false,
        //  prodready: [],
        //  sector: 'index',
        //  dma_periods: [2, 3],
        //  funds: 200000,
        //  noiseSigma: 0.001,
        //  trades: ['up', 'down'],
        //},
        //indexstrategy3_1: {
        //  analysis: 'indexstrategy3',
        //  enabled: false,
        //  prodready: [],
        //  sector: 'index',
        //  strategies: [
        //    {
        //      analysis: 'indexstrategy1',
        //      dma_period: 2,
        //      circuitdays: 10,
        //      circuitpc: {
        //        NIFTY: 0.97,
        //        BANKNIFTY: 0.95,
        //      },
        //      trades: ['down'],
        //    },
        //    {
        //      analysis: 'indexstrategy2',
        //      dma_periods: [2, 3],
        //      dayinc: 1,
        //      noiseSigma: 0.001,
        //      trades: ['up', 'down'],
        //    },
        //  ],
        //  funds: 200000,
        //  trades: ['up', 'down'],
        //},
        //indexstrategy3_2: {
        //  analysis: 'indexstrategy3',
        //  enabled: false,
        //  prodready: [],
        //  sector: 'index',
        //  strategies: [
        //    {
        //      analysis: 'indexstrategy1',
        //      dma_period: 2,
        //      circuitdays: 10,
        //      circuitpc: {
        //        NIFTY: 0.97,
        //        BANKNIFTY: 0.95,
        //      },
        //      trades: ['down'],
        //    },
        //    {
        //      analysis: 'indexstrategy2',
        //      dma_periods: [2, 3],
        //      dayinc: 1,
        //      noiseSigma: 0.001,
        //      trades: ['up'],
        //    },
        //  ],
        //  funds: 200000,
        //  trades: ['up', 'down'],
        //},
        //indexstrategy3_3: {
        //  analysis: 'indexstrategy3',
        //  enabled: false,
        //  prodready: [],
        //  sector: 'index',
        //  strategies: [
        //    {
        //      analysis: 'indexstrategy1',
        //      dma_period: 2,
        //      circuitdays: 10,
        //      circuitpc: {
        //        NIFTY: 0.97,
        //        BANKNIFTY: 0.95,
        //      },
        //      trades: ['down'],
        //    },
        //    {
        //      analysis: 'indexstrategy2',
        //      dma_periods: [2, 3],
        //      dayinc: 1,
        //      noiseSigma: 0.001,
        //      trades: ['down'],
        //    },
        //  ],
        //  funds: 200000,
        //  trades: ['up', 'down'],
        //},
        //indexstrategy3_4: {
        //  analysis: 'indexstrategy3',
        //  enabled: false,
        //  prodready: [],
        //  sector: 'index',
        //  strategies: [
        //    {
        //      analysis: 'indexstrategy1',
        //      dma_period: 2,
        //      circuitdays: 10,
        //      circuitpc: {
        //        NIFTY: 0.97,
        //        BANKNIFTY: 0.95,
        //      },
        //      trades: ['up'],
        //    },
        //    {
        //      analysis: 'indexstrategy2',
        //      dma_periods: [2, 3],
        //      dayinc: 1,
        //      noiseSigma: 0.001,
        //      trades: ['down'],
        //    },
//            { analysis: 'globaltrend0',
//              period: 20,
//              sigma: 0.35,
//              sigmaX: 5,
//              trades: ['up', 'down'],
//            }
        //  ],
        //  funds: 200000,
        //  trades: ['up'],
        //},
        globaltrend0: {
          analysis: 'globaltrend0',
          enabled: false,
          prodready: [],
          sector: 'index',
          period: 20,
          funds: 200000,
          sigma: 0.35,
          sigmaX: 5,
          trades: ['up', 'down'],
        },
      },
      pdata: {},
      gethistory: true,
      showlastquotes: false,
      transtable: false,
      ttable: false,
      monthlytable: false,
      yearlytable: true,
      trans: {},
      transhead: [
        { text: 'Sl', value: 'Sl', sortable: false },
        { text: 'Symbol', value: 'symbol', sortable: false },
        { text: 'Date', value: 'date', sortable: true },
        { text: 'Value', value: 'value', sortable: false },
        { text: 'Days For Sale', value: 'days4sale', sortable: false },
      ],
      transdata: {},
      transsearch: '',
      tdata: {},
      thead: [
        { text: 'Sl', value: 'Sl', sortable: false },
        { text: 'Symbol', value: 'symbol', sortable: false },
        { text: 'Date', value: 'date', sortable: true },
        { text: 'Value', value: 'value', sortable: false },
        { text: 'Nos', value: 'count', sortable: false },
        { text: 'Funds', value: 'funds', sortable: false },
        { text: 'Points', value: 'points', sortable: true },
        { text: 'Total Points', value: 'accpoints', sortable: false },
      ],
      tmdata: {},
      tydata: {},
      tmhead: [
        { text: 'Sl', value: 'Sl', sortable: false },
        { text: 'MonYear', value: 'monyear', sortable: false },
        { text: 'Trades', value: 'trades', sortable: false },
        { text: 'Points', value: 'points', sortable: false },
        { text: 'Funds', value: 'funds', sortable: false },
        { text: 'Profit Trades', value: 'ptrades', sortable: false },
        { text: 'Loss Trades', value: 'ltrades', sortable: false },
        { text: 'Average', value: 'avg', sortable: false },
        { text: 'Trade Ratio', value: 'tratio', sortable: false },
      ],
      tsearch: '',
    }
  },

  components: {
  },

  computed: {
    user() {
      return this.$store.state.user.info;
    },
  },

  mounted() {
    Object.keys(this.indexs).forEach(index => {
      this.indexs[index].confnames = process.env.is_prod_gitlab ?
        Object.keys(this.configs).filter(k => this.configs[k].prodready.indexOf(index) >= 0) :
        Object.keys(this.configs).filter(k => this.configs[k].enabled);
    });
  },

  methods: {
    sleep(ms) {
      return new Promise(r => setTimeout(r, ms));
    },
    dateb4(days) {
      var date = new Date();
      var yesterday = date - (1000 * 60 * 60 * 24 * days);
      return new Date(yesterday);
    },
    datedmy(date) {
      return date.toLocaleDateString('en-GB', {
        day: 'numeric', month: 'short', year: 'numeric'
      }).replace(/ /g, '-');
    },
    /* in: [{
        "dt": "2020-01-01",
        "o": 12202.15,
        "h": 12222.2,
        "l": 12165.3,
        "c": 12182.5,
        "totqty": 0,
        "totvalue": 0,
        "tottrades": 0
    }]
       out: [{"dt":"2010-12-31","name":"Nifty 50","o":6105.1,"h":6147.3,"l":6103.55,"c":6134.5}]
     */
    processApiHistData(ret, d) {
      d.forEach(di => {
        ret[di.dt] = di;
      });

      return ret;
    },
    /* { "dt": "2016-01-01", "o": 11396.95, "h": 11455, "l": 11200, "c": 11321.95,
       "totqty": 400, "totvalue": 4546007.9, "tottrades": 159 }
    */
    async process(add_today=false) {
      /* */
      this.pdata = {};
      this.tdata = {};
      this.lastbuy = {};
      this.tdaytrans = {};
      /* */
      for (let ic=0; ic<this.indexs[this.index].confnames.length; ic++) {
        const confname = this.indexs[this.index].confnames[ic];
        var symbdata = [];
        /* */
        if (this.configs[confname].hasOwnProperty('momentum_spec'))
          this.configs[confname].momentum_days = this.momentum_spec2days(this.configs[confname].momentum_spec);
        this.configs[confname].startdate = this.startdate;
        this.configs[confname].enddate = this.enddate;
        if (this.gethistory) {
          if (process.env.is_prod_gitlab) {
            var sdcomb = {};
            for (let year=(new Date(this.startdate).getFullYear()); year<=(new Date(this.enddate).getFullYear()); year++) {
              this.busy++;
              await this.$axios.$get('/api/ohlc', { params: {'symbol_id':this.indexs[this.index].id,'year': year, 'interval': '1d'} }).then(
                (d) => {
                  sdcomb = this.processApiHistData(sdcomb, d);
                  this.busy--;
                }).catch((e) => { this.busy--; });
            }
            /* */
            if (add_today) {
              this.busy++;
              await this.$axios.$get('/api/nowQuote', { params: {symbol: this.index} }).then(
                (d) => {
                  sdcomb[d.dt] = d;
                  this.busy--;
                }).catch((e) => { this.busy--; });
            }
            symbdata = Object.values(sdcomb);
            //console.log(symbdata);
          } else if (process.env.is_dev) {
            symbdata = (this.index == 'NIFTY') ?
               this.$stockdata.nifty1023.filter(x => !/^2023-10-2[6789]/.test(x.dt) && !/^2023-11-/.test(x.dt) && !/^2023-11-2/.test(x.dt)) :
               //this.$stockdata.nifty1023.filter(x => /^202/.test(x.dt) || /^202/.test(x.dt) ) :
               this.$stockdata. banknifty1023.filter(x => /^201[56789]/.test(x.dt) || /^202/.test(x.dt));
            //symbdata = symbdata.filter(x => !/^2023-10-2[6-9]/.test(x.dt));
            //symbdata = symbdata.filter(x => !/^2023-10-1[1-9]/.test(x.dt));
            //console.log(symbdata);
          } else {
            this.busy++;
            await this.$axios.$post('/api/strategyAnalysis', {strategy: confname, config: JSON.stringify(this.configs[confname])}).then(
              (d) => {
                symbdata = d;
                this.busy--;
              }).catch((e) => { this.busy--; });
            /* */
            if (add_today) {
              this.busy++;
              await this.$axios.$post('/api/nowQuote', {symbol: this.index}).then(
                (d) => {
                  symbdata = symbdata.filter(x => x.dt != d.dt);
                  symbdata.push(d);
                  this.busy--;
                }).catch((e) => { this.busy--; });
            }
          }
        }
        /* Process*/
        var ret = chartutils.analyseStrategy(symbdata, this.index, this.configs[confname]);
        //console.log(JSON.parse(JSON.stringify(symbdata.slice(-2))));
        ret.tdata = ret.tdata.sort((a,b) => (a.date < b.date) ? 1 : ((a.date > b.date) ? -1 : 0));
        this.$set(this.lastquotes, confname, symbdata.slice(-5).reverse());
        this.$set(this.transdata, confname, ret);
        /* */
        //console.log(ret);
        if (!ret) return;
        /* chart */
        const dates = Object.keys(ret.daywise).sort();
        this.tdata[confname] = [];
        this.pdata[confname] = {
          y: confname,
          series: [
            {name: 'Points', values: []},
            {name: 'Total Points', values: []},
            // {name: 'Funds', values: []},
          ],
          dates: dates,
        };
        /* */
        var funds = this.configs[confname].funds, trades = 0;
        var accpoints = 0;
        dates.forEach((date, di) => {
          var datepoints = 0;
          ret.daywise[date].sell.forEach(b => {
            trades++;
            const valarr = this.lastbuy[confname].map(lb => lb.value);
            const value = valarr.reduce((a, b) => a + b, 0) / valarr.length;
            let points = this.lastbuy[confname][0].is_buy ? (b[1] - value) : (value - b[1]);
            console.assert(b[3] >= 1);
            points -= b[3] * this.indexs[b[0]].decaypday * valarr.length;
            points -= this.indexs[b[0]].slippage; /* for tax & stuff */
            datepoints += points, accpoints += points;
            var td = {
              symbol: b[0],
              date: date + ' / ' + this.lastbuy[confname][0].date + ' - ' + b[3],
              value: `${b[1]} / ${this.lastbuy[confname][0].value}`,
              is_buy: this.lastbuy[confname][0].is_buy,
              is_sell: this.lastbuy[confname][0].is_sell,
              count: this.lastbuy[confname][0].count,
              points: points,
              accpoints: accpoints,
              trades: trades,
            };
            funds += points * td.count;
            td.funds = funds;
            delete this.lastbuy[confname];
            this.tdata[confname].unshift(td);
          });
          ret.daywise[date].buy.forEach(b => {
            var td = {
              symbol: b[0],
              date: date,
              value: b[1],
              is_buy: b[2],
              is_sell: ! b[2],
              count: this.indexs[b[0]].lotsize * Math.floor(Math.abs(funds / this.indexs[b[0]].marginperlot)),
              points: 0,
              accpoints: 0,
              trades: trades,
            };
            if (td.count == 0) td.count = this.indexs[b[0]].lotsize;
            td.funds = funds;
            if (confname in this.lastbuy) {
              this.lastbuy[confname].push(td);
            } else {
              this.lastbuy[confname] = [td];
            }
          });
          this.pdata[confname].series[0].values.push(datepoints);
          this.pdata[confname].series[1].values.push(accpoints);
          // this.pdata[confname].series[2].values.push(funds);
        });
        const tday = (new Date()).toJSON().slice(0, 10);
        this.tdaytrans[confname] = ret.tdata.filter(x => x.date == tday);
        console.log('total-trades: ' + this.tdata[confname].filter(a => a.is_sell).length);
        const profit_trades = this.tdata[confname].filter(a => a.is_sell && (a.points > 0));
        console.log('total-profit-trades: ' + profit_trades.length);
        console.log('total-profit-average: ' + (profit_trades.reduce((r, a) => r+a.points, 0) / profit_trades.length));
        const loss_trades = this.tdata[confname].filter(a => a.is_sell && (a.points <= 0));
        console.log('total-loss-trades: ' + loss_trades.length);
        console.log('total-loss-average: ' + (loss_trades.reduce((r, a) => r+a.points, 0) / loss_trades.length));
      }
      /* make monthly table */
      Object.keys(this.tdata).forEach(k => {
        const yds = [... new Set(this.tdata[k].map(a => a.date.slice(0, 4)))].sort();
        const mds = [... new Set(this.tdata[k].map(a => a.date.slice(0, 7)))].sort();
        this.tmdata[k] = [];
        this.tydata[k] = [];
        yds.forEach(yk => {
          const d = this.tdata[k].filter(a => (a.points != 0) && a.date.includes(yk));
          let di = {
            monyear: yk,
            trades: d.length,
            points: d.reduce((i, a) => i+a.points, 0),
            ptrades: d.filter(a => a.points > 0).length,
            ltrades: d.filter(a => a.points <= 0).length,
          };
          di.avg = (di.points / di.trades).toFixed(2);
          di.tratio = (di.ptrades / di.trades).toFixed(2);
          this.tydata[k].push(di);
        });
        mds.forEach(mk => {
          const d = this.tdata[k].filter(a => (a.points != 0) && a.date.includes(mk));
          let di = {
            monyear: mk,
            trades: d.length,
            points: d.reduce((i, a) => i+a.points, 0),
            ptrades: d.filter(a => a.points > 0).length,
            ltrades: d.filter(a => a.points <= 0).length,
          };
          di.avg = (di.points / di.trades).toFixed(2);
          di.tratio = (di.ptrades / di.trades).toFixed(2);
          this.tmdata[k].push(di);
        });
        let di = {
          monyear: 'Total',
          trades: this.tydata[k].reduce((i, a) => i+a.trades, 0),
          points: this.tydata[k].reduce((i, a) => i+a.points, 0),
          ptrades: this.tydata[k].reduce((i, a) => i+a.ptrades, 0),
          ltrades: this.tydata[k].reduce((i, a) => i+a.ltrades, 0),
        };
        di.avg = (di.points / di.trades).toFixed(2);
        di.tratio = (di.ptrades / di.trades).toFixed(2);
        this.tydata[k].push(di);
        di = {
          monyear: 'Total',
          trades: this.tmdata[k].reduce((i, a) => i+a.trades, 0),
          points: this.tmdata[k].reduce((i, a) => i+a.points, 0),
          ptrades: this.tmdata[k].reduce((i, a) => i+a.ptrades, 0),
          ltrades: this.tmdata[k].reduce((i, a) => i+a.ltrades, 0),
        };
        di.avg = (di.points / di.trades).toFixed(2);
        di.tratio = (di.ptrades / di.trades).toFixed(2);
        this.tmdata[k].push(di);
      });
    },
    tdata_class(d) {
      return (d.is_buy && d.is_sell) ? 'purple lighten-3' : d.is_buy ? 'green lighten-3' : d.is_sell ? 'red lighten-3' : '';
    },
    tmdata_class(d) {
      return (d.points > 0) ? 'green lighten-3' : 'red lighten-3';
    },
    momentum_spec2days(spec) {
      const mult = spec.includes('year') ? 246 : spec.includes('month') ? 20.5 : spec.includes('week') ? 4.73 : 1;
      return Math.ceil(parseInt(spec) * mult);
    },
    async updateOhlc() {
      this.busy++;
      await this.$axios.$put('/api/updateohlcday', {}).then(
        (d) => {
          this.$store.commit("snackbar/pushMessage", {
            message: ('message' in d) ? d.message : 'Something went wrong, check network...',
            color: "success"
          });
          this.busy--;
        }).catch((e) => { this.busy--; });
    },
  }

}
</script>
