<template>
<v-main>
  <v-card>
    <v-card-title>
      Nifty Investing {{confname}}
      <v-spacer></v-spacer>
      <v-select v-model="confname" :items="Object.keys(config)" label="Strategy"></v-select>
      <v-menu ref="menu0" v-model="menu0_state" :close-on-content-click="false"
              :return-value.sync="startdate" transition="scale-transition" offset-y
              min-width="auto">
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="startdate"
            label="Invest Start Date"
            prepend-icon="mdi-calendar"
            readonly
            v-bind="attrs"
            v-on="on"
            ></v-text-field>
        </template>
        <v-date-picker
          v-model="startdate"
          no-title
          scrollable
          @change="$refs.menu0.save(startdate) ; menu0=false"
          >
        </v-date-picker>
      </v-menu>
      <v-select v-model="funds" :items="['50000', '100000', '200000', '500000']" label="Funds"></v-select>
      <v-spacer></v-spacer>
      <v-btn :loading="busy>0" :disabled="busy>0" @click.prevent="process()">Process</v-btn>
    </v-card-title>
    <div v-if="confname">
    <v-tabs fixed-tabs background-color="indigo" dark v-model="tab0">
      <v-tabs-slider color="yellow"></v-tabs-slider>
      <v-tab v-for="(r0, r0i) in (config[confname].dayinc+1)" :key="`pick-${r0i}`">
        Pick-{{ r0i }}
      </v-tab>
    </v-tabs>
    <v-tabs-items v-model="tab0">
      <v-tab-item v-for="(r0, r0i) in (config[confname].dayinc+1)" :key="`picked-${r0i}`">
        <v-tabs fixed-tabs background-color="indigo" dark v-model="tab">
          <v-tabs-slider color="yellow"></v-tabs-slider>
          <v-tab v-for="item in ['Trades', 'Chart', 'Daywise']" :key="item">
            {{ item }}
          </v-tab>
        </v-tabs>
      </v-tab-item>
    </v-tabs-items>

    <v-tabs-items v-model="tab">
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <v-text-field v-model="tsearch" append-icon="mdi-magnify"
                          label="Search" single-line hide-details></v-text-field>
            <v-row>
              <v-col>
                <v-data-table
                  :headers="thead"
                  :items="tdata[tab0]"
                  :search="tsearch"
                  :items-per-page="-1"
                  :item-class="tdata_class"
                  :options="{sortBy: ['on']}"
                  >
                  <template v-slot:item.Sl = "{ index }">
                    {{ index + 1 }}
                  </template>
                  <template v-slot:item.symbol="{ item }">
                    <a :href="'https://in.tradingview.com/chart/?symbol=NSE%3A' + encodeURIComponent(item.symbol)" target="_blank">
                      {{ item.symbol }}
                    </a>
                    <a :href="'https://www.screener.in/company/'+encodeURIComponent(item.symbol)+'/#chart'" target="_blank">
                      <v-icon>mdi-open-in-new</v-icon>
                    </a>
                  </template>
                </v-data-table>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-tab-item>

      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <v-row class="ma-6">
              <v-col>
                <MultiLine3 :data="pdata[tab0]" tformat="%Y-%m-%d" v-if="pdata && pdata[tab0]"/>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-tab-item>

      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <v-row v-if="ret && (tab0 < ret.length)">
              <v-col cols="3">
                <v-date-picker v-model="daywisedates[tab0]" multiple scrollable></v-date-picker>
              </v-col>
              <v-col cols="9">
                <v-expansion-panels multiple>
                  <v-expansion-panel v-for="date in daywisedates[tab0].filter(d=>d in ret[tab0].daywise).sort().reverse()" :key="date">
                    <v-expansion-panel-header>
                      {{date}}
                      <v-spacer></v-spacer>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <!-- <v-row> -->
                      <!--   <v-col> <v-btn color="green" class="pa-2" @click="buydate(date)" :disabled="ret[tab0].daywise[date].buy.length == 0" block>Buy All</v-btn> </v-col> -->
                      <!--   <v-col> <v-btn color="red" class="pa-2" @click="selldate(date)" :disabled="ret[tab0].daywise[date].sell.length == 0" block>Sell All</v-btn> </v-col> -->
                      <!-- </v-row> -->
                      <v-row>
                        <v-col cols="2" v-for="b in ret[tab0].daywise[date].buy" :key="`${date}.buy.${b[0]}`">
                          <v-btn color="green lighten-1" class="pa-1" dark block>{{b[0]}}</v-btn>
                        </v-col>
                        <v-col cols="2" v-for="b in ret[tab0].daywise[date].sell" :key="`${date}.sell.${b[0]}`">
                          <v-btn color="red lighten-1" class="pa-1" dark block>{{b[0]}}</v-btn>
                        </v-col>
                        <v-col cols="2" v-for="b in ret[tab0].daywise[date].eod" :key="`${date}.eod.${b[0]}`">
                          <v-btn color="blue lighten-1" class="pa-1" dark block>{{b[0]}}</v-btn>
                        </v-col>
                      </v-row>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs-items>

    </div>

  </v-card>
</v-main>
</template>

<script>
/* Analysis at : dma-aj2-analysis.vue
 */
export default {
  data () {
    return {
      busy: 0,
      menu0_state: false,
      startdate: '2018-01-01',
      funds: '100000',
      confname: null,
      /*        '200', '100', 'next50', '50', '500',
                'midcap50', 'midcap100', 'smallcap50', 'smallcap100',
                'microcap250_', 'largemidcap250', 'midsmallcap400',
                '500Multicap502525_', 'auto', 'fmcg', 'bank', 'consumerdurables',
                'finance', 'healthcare', 'it', 'media', 'metal', 'oilgas',
                'pharma', '_privatebank', 'psubank', 'realty' */
      config: {
        momstrategy2: {
          analysis: 'Momentum Strategy 1',
          sector: '100',
          funds: '500000',
          maxstocksbuy: 15,
          maxoutindex: 2,
          dma_periods: [7, 65, 200],
          dma_ratios: [[7, 65]],
          momentum_spec: '2 weeks',
          dayincinit: 0,
          dayinc: 2,
          sleep_days_after_sale: 5,
          circuitdays: 10,
          circuitpc: {
            NIFTY: 0.97,
            BANKNIFTY: 0.95,
          },
          startdate: '2022-01-01',
          value_mark: 10000000,
        },
        sbstrategy1: {
          analysis: 'SB Strategy 1',
          sector: '100',
          funds: 500000,
          maxstocksbuy: 20,
          dayincinit: 0,
          dayinc: 3,
          daysbeforebreakout: 10,
          buyratio: 1.1,
          dma_periods: [7, 65, 200],
          dma_ratios: [[7, 65]],
          momentum_spec: '2 weeks',
          selltargetratio: 1.5,
          sellratio: 0.95,
          sleep_days_after_buy: 60,
          sleep_days_after_sale: 10,
          circuitdays: 10,
          circuitpc: {
            NIFTY: 0.97,
            BANKNIFTY: 0.95,
          },
          value_mark: 10000000,
        },
      },
      ret: null,
      pdata: [],
      tdata: [],
      thead: [
        { text: 'Sl', value: 'Sl', sortable: false },
        { text: 'Date', value: 'date', sortable: false },
        { text: 'Symbol', value: 'symbol', sortable: false },
        { text: 'Num Stocks', value: 'count', sortable: false },
        { text: 'Price', value: 'value', sortable: false },
        { text: 'Cash', value: 'funds', sortable: false },
        { text: 'Account Value', value: 'accval', sortable: false },
      ],
      tsearch: '',
      tab0: null,
      tab: null,
      daywisedates: [],
    }
  },

  components: {
  },

  computed: {
    user() {
      return this.$store.state.user.info;
    },
  },

  mounted() {
    this.confname = Object.keys(this.config).at(-1);
  },

  methods: {
    buydate(date) {},
    selldate(date) {},
    /* { "dt": "2016-01-01", "o": 11396.95, "h": 11455, "l": 11200, "c": 11321.95,
       "totqty": 400, "totvalue": 4546007.9, "tottrades": 159 }
       this.$refs.im.inst().genmain(JSON.stringify(this.config));
    */
    async process() {
      /* */
      this.ret = []; this.tdata = []; this.pdata = []; this.daywisedates = [];
      /* */
      if ('momentum_spec' in this.config[this.confname])
        this.config[this.confname].momentum_days = this.momentum_spec2days(this.config[this.confname].momentum_spec);
      this.config[this.confname].startdate = this.startdate;
      this.config[this.confname].funds = this.funds;
      for (let r0i=0; r0i<this.config[this.confname].dayinc; r0i++) {
        this.config[this.confname].dayincinit = r0i;
        this.busy++;
        await this.$axios.$post('/api/strategyAnalysis', {strategy: this.confname, config: JSON.stringify(this.config[this.confname])}).then(
          (d) => {
            this.ret.push(d);
            this.daywisedates.push([]);
            this.busy--;
          }).catch((e) => { this.busy--; });
      }
      if (0 == Object.keys(this.ret).length) return;
      /* */
      for (let r0i=0; r0i<this.config[this.confname].dayinc; r0i++) {
        /* chart */
        const dates = Object.keys(this.ret[r0i].daywise).sort();
        this.tdata.push([]);
        this.pdata.push({
          y: this.config[this.confname].analysis,
          series: [
            {name: 'Acc Value', values: []},
            {name: 'funds', values: []},
          ],
          dates: dates,
        });
        /* */
        var stockinbag = 0, funds = parseInt(this.config[this.confname].funds), trades = 0;
        var lastbuy = {};
        var accval = funds;
        dates.forEach((date, di) => {
          this.ret[r0i].daywise[date].sell.forEach(b => {
            trades++;
            var td = {
              symbol: b[0],
              date: date,
              value: b[1],
              is_buy: false,
              is_sell: true,
              count: lastbuy[b[0]].count,
              trades: trades,
            };
            funds += td.count * td.value;
            td.funds = funds;
            td.accval = accval;
            stockinbag--;
            delete lastbuy[b[0]];
            this.tdata[r0i].unshift(td);
          });
          this.ret[r0i].daywise[date].buy.forEach(b => {
            var td = {
              symbol: b[0],
              date: date,
              value: b[1],
              is_buy: true,
              is_sell: false,
              count: Math.floor(accval / (this.config[this.confname].maxstocksbuy * b[1])),
              trades: trades,
            };
            funds -= td.count * td.value;
            td.funds = funds;
            td.accval = accval;
            stockinbag++;
            lastbuy[b[0]] = td;
            this.tdata[r0i].unshift(td);
          });
          /* get now value */
          accval = funds;
          this.ret[r0i].daywise[date].eod.forEach(b => {
            accval += lastbuy[b[0]].count * b[1];
          });
          this.pdata[r0i].series[0].values.push(accval);
          this.pdata[r0i].series[1].values.push(funds);
        });
      }
      /* pick best */
      let dates = [];
      for (let r0i=0; r0i<this.config[this.confname].dayinc; r0i++) {
        dates = dates.concat(Object.keys(this.ret[r0i].daywise));
      }
      dates = [...new Set(dates)].sort();
      this.tdata.push([]);
      this.pdata.push({
        y: this.config[this.confname].analysis,
        series: [
          {name: 'Acc Value', values: []},
          {name: 'funds', values: []},
        ],
        dates: dates,
      });
      /* */
      var stockinbag = 0, funds = parseInt(this.config[this.confname].funds), trades = 0;
      var lastbuy = {}, buycount = {}, lastval = {};
      var accval = funds;
      const r0i = this.config[this.confname].dayinc;
      dates.forEach((date, di) => {
        for (let r0i=0; r0i<this.config[this.confname].dayinc; r0i++) {
          if (date in this.ret[r0i].daywise) {
            this.ret[r0i].daywise[date].buy.forEach(b => {
              buycount[b[0]] = (b[0] in buycount) ? buycount[b[0]] + 1 : 1;
              lastval[b[0]] = b;
            });
            this.ret[r0i].daywise[date].sell.forEach(b => {
              buycount[b[0]] = buycount[b[0]] - 1;
              lastval[b[0]] = b;
            });
          }
        }
        Object.keys(buycount).forEach(symb => {
          if ((symb in lastbuy) && (buycount[symb] < (this.config[this.confname].dayinc/2))) {
            const b = lastval[symb];
            trades++;
            var td = {
              symbol: b[0],
              date: date,
              value: b[1],
              is_buy: false,
              is_sell: true,
              count: lastbuy[b[0]].count,
              trades: trades,
            };
            funds += td.count * td.value;
            td.funds = funds;
            td.accval = accval;
            stockinbag--;
            delete lastbuy[b[0]];
            this.tdata[r0i].unshift(td);
          }
          if ((!(symb in lastbuy)) && (buycount[symb] >= (this.config[this.confname].dayinc/2))) {
            const b = lastval[symb];
            var td = {
              symbol: b[0],
              date: date,
              value: b[1],
              is_buy: true,
              is_sell: false,
              count: Math.floor(accval / (this.config[this.confname].maxstocksbuy * b[1])),
              trades: trades,
            };
            funds -= td.count * td.value;
            td.funds = funds;
            td.accval = accval;
            stockinbag++;
            lastbuy[b[0]] = td;
            this.tdata[r0i].unshift(td);
          }
        });
        /* whatever is left in buycount is at the EOD */
        Object.keys(buycount).forEach(symb => {
          if (0 == buycount[symb])
            delete buycount[symb];
        });
        /* EOD: get now value */
        accval = funds;
        Object.keys(buycount).forEach(symb => {
          const b = lastval[symb];
          accval += lastbuy[b[0]].count * b[1];
        });
        this.pdata[r0i].series[0].values.push(accval);
        this.pdata[r0i].series[1].values.push(funds);
      });
    },
    tdata_class(d) {
      return (d.is_buy && d.is_sell) ? 'purple lighten-3' : d.is_buy ? 'green lighten-3' : d.is_sell ? 'red lighten-3' : '';
    },
    momentum_spec2days(spec) {
      const mult = spec.includes('year') ? 246 : spec.includes('month') ? 20.5 : spec.includes('week') ? 4.73 : 1;
      return Math.ceil(parseInt(spec) * mult);
    }
  }

}
</script>
