<template>
<v-main>
  <v-card>
    <v-card-actions>
      <v-select v-model="stock" :items="stocks" label="Stock"></v-select>
      <v-menu ref="menu0" v-model="menu0_state" :close-on-content-click="false"
              :return-value.sync="startdate" transition="scale-transition" offset-y
              min-width="auto">
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="startdate"
            label="Start"
            prepend-icon="mdi-calendar"
            readonly
            v-bind="attrs"
            v-on="on"
            ></v-text-field>
        </template>
        <v-date-picker
          v-model="startdate"
          no-title
          scrollable
          @change="$refs.menu0.save(startdate) ; menu0=false"
          >
        </v-date-picker>
      </v-menu>
      <v-menu ref="menu1" v-model="menu1_state" :close-on-content-click="false"
              :return-value.sync="enddate" transition="scale-transition" offset-y
              min-width="auto">
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="enddate"
            label="End"
            prepend-icon="mdi-calendar"
            readonly
            v-bind="attrs"
            v-on="on"
            ></v-text-field>
        </template>
        <v-date-picker
          v-model="enddate"
          no-title
          scrollable
          @change="$refs.menu1.save(enddate) ; menu1=false"
          >
        </v-date-picker>
      </v-menu>
      <v-switch v-model="showlastquotes" label="Show Last Quotes"></v-switch>
      <v-btn :loading="busy>0" :disabled="busy>0" @click.prevent="process(false)">Process</v-btn>
      <v-switch v-model="transtable" label="Show Individual Trans Table"></v-switch>
      <v-switch v-model="ttable" label="Show Trans Table"></v-switch>
      <v-switch v-model="monthlytable" label="Show Monthly Table"></v-switch>
      <v-switch v-model="yearlytable" label="Show Yearly Table"></v-switch>
      <v-btn :loading="busy>0" :disabled="busy>0" @click.prevent="process(true)">Get Today</v-btn>
      <v-btn :loading="busy>0" :disabled="busy>0" @click.prevent="updateOhlc()">Update OHLC</v-btn>
    </v-card-actions>

    <v-card v-for="(lbs, lbks) in lastbuy" :color="(lbks == tradecons.confnames[conftab]) ? '#00ACC1' : '#E0F7FA'" class="pa-2" :key="`lb${lbks}`">
      <v-alert v-for="(lb, lbk) in lbs" :color="(lb.date == (new Date()).toJSON().slice(0, 10)) ? '#F0F4C3' : '#C8E6C9'" variant="tonal" :key="`lbk_${lbks}_${lbk}`">
        <v-btn depressed color="primary">{{`${lbks} Lastbuy: ${lb.symbol}`}}</v-btn>
        <v-btn depressed color="info">{{`${lb.date}`}}</v-btn>
        <v-btn depressed :color="lb.is_buy ? 'success':'error'">{{lb.is_buy ? 'BUY' : 'SELL'}}</v-btn>
        <v-btn depressed color="warning">{{lb.value}}</v-btn>
      </v-alert>
    </v-card>
    <v-card v-for="(trans, confname) in tdaytrans" v-show="tdaytrans && trans.length>0" :color="(confname == tradecons.confnames[conftab]) ? '#3949AB' : '#E8EAF6'" class="pa-2" :key="`tt${confname}`">
      <v-alert v-for="(tran,tranid) in trans" :color="tran.is_buy ? (tran.days4sale==0 ? '#F0F4C3' : '#C8E6C9') : (tran.days4sale==0 ? '#FFCC80' : '#FFA726')" :key="`tran${tranid}${confname}`" elevation="2">
        <v-btn depressed color="primary">{{(tran.days4sale==0 ? `${confname} : New Trans: ` : `${confname} : Close Trans: `) + tran.symbol}}</v-btn>
        <v-btn depressed color="info">{{`${tran.date} days4sale:${tran.days4sale}`}}</v-btn>
        <v-btn depressed :color="tran.is_buy ? 'success':'error'">{{tran.is_buy ? 'BUY' : 'SELL'}}</v-btn>
      </v-alert>
    </v-card>

    <v-tabs v-model="conftab" align-with-title>
      <v-tabs-slider color="yellow"></v-tabs-slider>
        <v-tab v-for="confname in tradecons.confnames" :key="`tab${confname}`">
              {{ confname }}
        </v-tab>
    </v-tabs>
  </v-card>

  <v-tabs-items v-model="conftab">
    <v-tab-item v-for="confname in tradecons.confnames" :key="`tabitem${confname}`">
      <v-card color="#FFF59D" v-if="showlastquotes && (confname in lastquotes)">
        <v-alert type="info" class="pa-2" v-for="(q, qi) in lastquotes[confname]" :key="`quote${confname}${qi}`">{{JSON.stringify(q)}}</v-alert>
      </v-card>

      <v-card flat>
        <v-card-title>{{stock + ': ' + configs[confname].analysis + ': ' + confname}}</v-card-title>
        <v-card-text>
          <v-row v-if="confname in pdata">
            <h3>{{confname}}</h3>
            <v-col><MultiLine3 :data="pdata[confname]" tformat="%Y-%m-%d"/></v-col>
          </v-row>
          <v-row>
            <v-col><MultiLine3 :data="pdata_tstat.tradestats" tformat="%Y-%m-%d"/></v-col>
          </v-row>
          <v-text-field v-model="transsearch" append-icon="mdi-magnify"
                        label="Search" single-line hide-details
                        v-if="transtable && (`${confname}.${stock}` in transdata)"></v-text-field>
          <v-row v-if="transtable && (`${confname}.${stock}` in transdata)">
            <v-col>
              <v-data-table
                :headers="transhead"
                :items="transdata[`${confname}.${stock}`].tdata"
                :search="transsearch"
                :items-per-page="10"
                :item-class="tdata_class"
                :options="{sortBy: ['on']}"
                >
                <template v-slot:item.Sl = "{ index }">
                  {{ index + 1 }}
                </template>
              </v-data-table>
            </v-col>
          </v-row>
          <v-text-field v-model="tsearch" append-icon="mdi-magnify"
                        label="Search" single-line hide-details></v-text-field>
          <v-row v-if="ttable">
            <v-col>
              <v-data-table
                :headers="thead"
                :items="tdata[`${confname}.${stock}`]"
                :search="tsearch"
                :items-per-page="-1"
                :item-class="tdata_class"
                :options="{sortBy: ['on']}"
                >
                <template v-slot:item.Sl = "{ index }">
                  {{ index + 1 }}
                </template>
                <template v-slot:item.symbol="{ item }">
                  <a :href="'https://in.tradingview.com/chart/?symbol=NSE%3A' + encodeURIComponent(item.symbol)" target="_blank">
                    {{ item.symbol }}
                  </a>
                  <a :href="'https://www.screener.in/company/'+encodeURIComponent(item.symbol)+'/#chart'" target="_blank">
                  <v-icon>mdi-open-in-new</v-icon>
                </a>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
          <v-row v-if="monthlytable">
            <v-col>
              <v-data-table
                :headers="tmhead"
                :items="tmdata[`${confname}.${stock}`]"
                :search="tsearch"
                :items-per-page="24"
                :item-class="tmdata_class"
                :options="{sortBy: ['on']}"
                >
                <template v-slot:item.Sl = "{ index }">
                  {{ index + 1 }}
                </template>
              </v-data-table>
            </v-col>
          </v-row>
          <v-row v-if="yearlytable">
            <v-col>
              <v-data-table
                :headers="tmhead"
                :items="tydata[`${confname}.${stock}`]"
                :search="tsearch"
                :items-per-page="-1"
                :item-class="tmdata_class"
                :options="{sortBy: ['on']}"
                >
                <template v-slot:item.Sl = "{ index }">
                  {{ index + 1 }}
                </template>
              </v-data-table>
            </v-col>
          </v-row>
          <v-row v-if="monthlytable">
            <v-col>
              <v-data-table
                :headers="tmhead"
                :items="tmdata_conf[confname]"
                :search="tsearch"
                :items-per-page="24"
                :item-class="tmdata_class"
                :options="{sortBy: ['on']}"
                >
                <template v-slot:item.Sl = "{ index }">
                  {{ index + 1 }}
                </template>
              </v-data-table>
            </v-col>
          </v-row>
          <v-row v-if="yearlytable">
            <v-col>
              <v-data-table
                :headers="tmhead"
                :items="tydata_conf[confname]"
                :search="tsearch"
                :items-per-page="-1"
                :item-class="tmdata_class"
                :options="{sortBy: ['on']}"
                >
                <template v-slot:item.Sl = "{ index }">
                  {{ index + 1 }}
                </template>
              </v-data-table>
            </v-col>
          </v-row>
          <v-row v-if="days4salebar.length > 0">
            <v-col>
              <Bar :data="days4salebar" />
            </v-col>
          </v-row>
          <v-row v-if="days4salepointsbar.length > 0">
            <v-col>
              <Bar :data="days4salepointsbar" />
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-tab-item>
  </v-tabs-items>
</v-main>
</template>

<script>
import chartutils from "@/plugins/chartutils";

export default {
  data () {
    return {
      busy: 0,
      menu0_state: false,
      menu1_state: false,
      startdate: '2020-01-01',
      enddate: (new Date()).toJSON().slice(0, 10),
      imloaded: 0,
      conftab: 0,
      /*
       */
      sectors: {
        auto: ['M&M', 'MARUTI', 'TATAMOTORS', 'BAJAJ-AUTO', 'HEROMOTOCO', 'EICHERMOT', 'TVSMOTOR'],
        bank: ['HDFCBANK', 'ICICIBANK', 'AXISBANK', 'SBIN', 'KOTAKBANK', 'INDUSINDBK'],
        fmcg: ['ITC', 'HINDUNILVR', 'NESTLEIND', 'BRITANNIA', 'VBL', 'TATACONSUM', 'GODREJCP'],
        healthcare: ['SUNPHARMA', 'CIPLA', 'DRREDDY', 'APOLLOHOSP', 'MAXHEALTH', 'DIVISLAB', 'LUPIN', 'AUROPHARMA'],
        it: ['INFY', 'TCS', 'TECHM', 'HCLTECH', 'WIPRO', 'HCLTECH', 'LTIM', 'PERSISTENT'],
        metals: ['TATASTEEL', 'HINDALCO', 'ADANIENT', 'JSWSTEEL', 'VEDL', 'JINDALSTEL', 'NMDC'],
        media: ['ZEEL', 'PVRINOX', 'SUNTV', 'SAREGAMA', 'TV18BRDCST', 'NAZARA', 'DISHTV'],
        oilgas: ['RELIANCE', 'ONGC', 'IOC', 'GAIL', 'BPCL', 'ATGL', 'HINDPETRO'],
        pharma: ['SUNPHARMA', 'CIPLA', 'DRREDDY', 'DIVISLAB', 'LUPIN', 'AUROPHARMA'],
        realty: ['DLF', 'LODHA', 'GODREJPROP', 'PHOENIXLTD', 'PRESTIGE', 'OBEROIRLTY', 'BRIGADE'],
        //'TITAN', 'BHEL', 'ACC', 'ASIANPAINT', 'ASTRAL', 'DMART', 'BAJFINANCE', 'BHARTIARTL', 'CANBK', 'HAVELLS', ],
      },
      sector_sels: {
        auto: 3,
        bank: 3,
        fmcg: 3,
        healthcare: 3,
        it: 3,
        metals: 0,
        media: 0,
        oilgas: 3,
        pharma: 3,
        realty: 0,
      },
      stocks: [],
      stock: '',
      numstocks: 3,
      symbols: {},
      lastbuy: {},
      tdaytrans: {},
      lastquotes: {},
      tradecons: {
        lotsize: 50,
        marginperlot: 200000,
        decaypday: 0,
        slippage: 1,
        confnames: [],
      },
      configs: {
        //SuperTrend_21_1_14_2: {
        //  name: 'SuperTrend 21/1 14/2',
        //  analysis: 'supertrend_mtf',
        //  enabled: true,
        //  prodready: false,
        //  mtf1: {p:21, m:1},
        //  mtf2: {p:14, m:2}
        //},
        //Stochastic_14_1: {
        //  name: 'Stochastic 14 1',
        //  analysis: 'Stochastic',
        //  enabled: true,
        //  prodready: false,
        //  params: {rsi:14, k:14, d:1}
        //},
        jarrod_rsi2_1: {
          name: 'Jarrod RSI2 1',
          analysis: 'jarrod_rsi2',
          enabled: true,
          prodready: true,
          params: {rsi: 2, slma: 100, sldays: 80, slma_uncertainity: 0.005},
          cond: {entry_rsi_lt: 10, entry_rsi_days: 1, wait4sale: 0, wait4sale_in_profit:5, havesl: true}
        },
        jarrod_rsi2_2: {
          name: 'Jarrod RSI2 2',
          analysis: 'jarrod_rsi2',
          enabled: false,
          prodready: false,
          params: {rsi: 2, slma: 100, sldays: 80, slma_uncertainity: 0.005},
          cond: {entry_rsi_lt: 10, entry_rsi_days: 1, wait4sale: 0, wait4sale_in_profit:5, havesl: true}
        },
        jarrod_rsi2_3: {
          name: 'Jarrod RSI2 3',
          analysis: 'jarrod_rsi2',
          enabled: false,
          prodready: false,
          params: {rsi: 2, slma: 100, sldays: 80, slma_uncertainity: 0.005},
          cond: {entry_rsi_lt: 10, entry_rsi_days: 1, wait4sale: 0, wait4sale_in_profit:5, havesl: true}
        },
        //jarrod_rsi2_4: {
        //  name: 'Jarrod RSI2 4',
        //  analysis: 'jarrod_rsi2',
        //  enabled: true,
        //  prodready: false,
        //  params: {rsi:2},
        //  cond: {entry_rsi_lt: 10, wait4sale: 0, wait4sale_in_profit:20}
        //},
        //jarrod_rsi2_5: {
        //  name: 'Jarrod RSI2 5',
        //  analysis: 'jarrod_rsi2',
        //  enabled: true,
        //  prodready: false,
        //  params: {rsi:2},
        //  cond: {entry_rsi_lt: 10, wait4sale: 0, wait4sale_in_profit:20}
        //},
      },
      pdata: {},
      pdata_tstat: {},
      symbols: {},
      showlastquotes: false,
      transtable: false,
      ttable: false,
      monthlytable: false,
      yearlytable: true,
      trans: {},
      transhead: [
        { text: 'Sl', value: 'Sl', sortable: false },
        { text: 'Symbol', value: 'symbol', sortable: false },
        { text: 'Date', value: 'date', sortable: true },
        { text: 'Value', value: 'value', sortable: false },
        { text: 'Days For Sale', value: 'days4sale', sortable: false },
      ],
      transdata: {},
      transsearch: '',
      tdata: {},
      tdata_conf: {},
      thead: [
        { text: 'Sl', value: 'Sl', sortable: false },
        { text: 'Symbol', value: 'symbol', sortable: false },
        { text: 'Date', value: 'date', sortable: true },
        { text: 'Value', value: 'value', sortable: false },
        { text: 'Days For Sale', value: 'days4sale', sortable: false },
        { text: 'Funds', value: 'funds', sortable: false },
        { text: 'Points', value: 'points', sortable: true },
        { text: 'Total Points', value: 'accpoints', sortable: false },
      ],
      tmdata: {},
      tydata: {},
      tmdata_conf: {},
      tydata_conf: {},
      tmhead: [
        { text: 'Sl', value: 'Sl', sortable: false },
        { text: 'MonYear', value: 'monyear', sortable: false },
        { text: 'Trades', value: 'trades', sortable: false },
        { text: 'Points', value: 'points', sortable: false },
        { text: 'Funds', value: 'funds', sortable: false },
        { text: 'Profit Trades', value: 'ptrades', sortable: false },
        { text: 'Loss Trades', value: 'ltrades', sortable: false },
        { text: 'Av. Days Invested', value: 'avdays', sortable: false },
        { text: 'Average', value: 'avg', sortable: false },
        { text: 'Trade Ratio', value: 'tratio', sortable: false },
      ],
      tsearch: '',
      days4salebar: [],
      days4salepointsbar: [],
    }
  },

    components: {
  },

  computed: {
    user() {
      return this.$store.state.user.info;
    },
  },

  mounted() {
    this.busy++;
    this.$axios.$get('/api/symbols').then((d) => {
      this.symbols = d;
      this.busy--;
    }).catch((e) => { this.busy--; });
    this.tradecons.confnames = process.env.is_prod_gitlab ?
      Object.keys(this.configs).filter(k => this.configs[k].prodready) :
      Object.keys(this.configs).filter(k => this.configs[k].enabled);
    /* update stocks */
    this.stocks = [];
    Object.keys(this.sector_sels).forEach(k => {
      for (let ui=0; ui<this.sector_sels[k]; ui++) this.stocks.push(this.sectors[k][ui]);
    });
    // this.stocks = ['TITAN'];
    // console.log(this.stocks);
    this.stock = this.stocks[0];
  },

  methods: {
    sleep(ms) {
      return new Promise(r => setTimeout(r, ms));
    },
    dateb4(days) {
      var date = new Date();
      var yesterday = date - (1000 * 60 * 60 * 24 * days);
      return new Date(yesterday);
    },
    datedmy(date) {
      return date.toLocaleDateString('en-GB', {
        day: 'numeric', month: 'short', year: 'numeric'
      }).replace(/ /g, '-');
    },
    /* in: [{
        "dt": "2020-01-01",
        "o": 12202.15,
        "h": 12222.2,
        "l": 12165.3,
        "c": 12182.5,
        "totqty": 0,
        "totvalue": 0,
        "tottrades": 0
    }]
       out: [{"dt":"2010-12-31","name":"Nifty 50","o":6105.1,"h":6147.3,"l":6103.55,"c":6134.5}]
     */
    processApiHistData(ret, d) {
      d.forEach(di => {
        ret[di.dt] = di;
      });

      return ret;
    },
    /* { "dt": "2016-01-01", "o": 11396.95, "h": 11455, "l": 11200, "c": 11321.95,
       "totqty": 400, "totvalue": 4546007.9, "tottrades": 159 }
    */
    async process(add_today=false) {
      /* get all stock data */
      var alldata = {}, alldatesmap = {};
      for (let is=0; is<this.stocks.length; is++) {
        var symbdata;
        const stock = this.stocks[is];
        if (!(stock in alldata)) {
          if (process.env.is_dev || process.env.is_prod_gitlab) {
            var sdcomb = {};
            for (let year=(new Date(this.startdate).getFullYear()); year<=(new Date(this.enddate).getFullYear()); year++) {
              this.busy++;
              await this.$axios.$get('/api/ohlc', { params: {'symbol_id':this.symbols[stock].id,'year': year, 'interval': '1d'} }).then(
                (d) => {
                  sdcomb = this.processApiHistData(sdcomb, d);
                  this.busy--;
                }).catch((e) => { this.busy--; });
            }
            symbdata = Object.values(sdcomb);
            //console.log(symbdata);
          } else if (process.env.is_dev) {
            //symbdata = (stock == 'NIFTY') ?
            //   this.$stockdata.nifty1023.filter(x => !/^2023-10-2[6789]/.test(x.dt) && !/^2023-11-/.test(x.dt) && !/^2023-11-2/.test(x.dt)) :
            //   //this.$stockdata.nifty1023.filter(x => /^202/.test(x.dt) || /^202/.test(x.dt) ) :
            //   this.$stockdata. banknifty1023.filter(x => /^201[56789]/.test(x.dt) || /^202/.test(x.dt));
            symbdata = this.$stockdata.titan2024;
            symbdata = symbdata.filter(x => /202[0123]-/.test(x.dt));
            //symbdata = symbdata.filter(x => !/^2023-10-1[1-9]/.test(x.dt));
            //console.log(symbdata);
          } else {
            this.busy++;
            await this.$axios.$post('/api/strategyAnalysis', {strategy: confname, config: JSON.stringify(this.configs[confname])}).then(
              (d) => {
                symbdata = d;
                this.busy--;
              }).catch((e) => { this.busy--; });
            /* */
            if (add_today) {
              this.busy++;
              await this.$axios.$post('/api/nowQuote', {symbol: stock}).then(
                (d) => {
                  symbdata = symbdata.filter(x => x.dt != d.dt);
                  symbdata.push(d);
                  this.busy--;
                }).catch((e) => { this.busy--; });
            }
          }
          alldata[stock] = symbdata;
          /* get dates */
          symbdata.forEach(q => {alldatesmap[q.dt] = 1;});
        }
      }
      /* add today quote */
      if (add_today) {
        this.busy++;
        await this.$axios.$get('/api/nowStockIndicesQuote').then(
          (d) => {
            this.stocks.forEach(stock => {
              //console.log(this.symbols[stock].id, d[this.symbols[stock].id]);
              const l = alldata[stock].length;
              if ((l > 0) && (alldata[stock][l-1].dt == d[this.symbols[stock].id].dt))
                alldata[stock].pop();
              alldata[stock].push(d[this.symbols[stock].id]);
            });
            this.busy--;
          }).catch((e) => { this.busy--; });
      }
      /* FIXME: Level all quotes for same dates */
      const alldates = Object.keys(alldatesmap).sort();
      //console.log(alldates);
      /* */
      this.tdata = {};
      this.pdata = {};
      this.pdata_tstat = {
        tradestats: {
          y: 'tradestats',
          series: [],
          dates: alldates,
        },
      };
      var totpoints = {}, topens = {};
      for (let ic=0; ic<this.tradecons.confnames.length; ic++) {
        const confname = this.tradecons.confnames[ic];
        this.pdata[confname] = {
          y: confname,
          series: [],
          dates: alldates,
        };
        totpoints[confname] = {};
        alldates.forEach(date => {totpoints[confname][date] = 0;});
        topens[confname] = {};
        alldates.forEach(date => {topens[confname][date] = 0;});
        this.tdata_conf[confname] = [];
      }
      /* process stock data */
      this.lastbuy = {};
      this.tdaytrans = {};
      let days4salebar_count = {}, days4salepointsbar_count = {};
      let seriestopen = {name: 'Open Trades', values: []};
      for (let is=0; is<this.stocks.length; is++) {
        const stock = this.stocks[is];
        for (let ic=0; ic<this.tradecons.confnames.length; ic++) {
          const confname = this.tradecons.confnames[ic];
          /* */
          this.configs[confname].startdate = this.startdate;
          this.configs[confname].enddate = this.enddate;
          /* Process*/
          chartutils.analyseStrategy2(alldata[stock], stock, this.configs[confname]);
          var ret = chartutils.strategy2todaywise(alldata[stock], stock, this.configs[confname]);
          //console.log(alldata[stock]);
          //console.log(ret);
          ret.tdata = ret.tdata.sort((a,b) => (a.date < b.date) ? 1 : ((a.date > b.date) ? -1 : 0));
          this.$set(this.lastquotes, `${confname}.${stock}`, alldata[stock].slice(-5).reverse());
          this.$set(this.transdata, `${confname}.${stock}`, ret);
          /* */
          //if (!ret) return;
          chartutils.daywise2chart(this.configs[confname], this.tradecons, `${confname}.${stock}`, alldates, ret, this.lastbuy, this.pdata[confname], this.tdata, topens[confname], totpoints[confname], this.tdata_conf[confname]);
          /* */
          const tday = (new Date()).toJSON().slice(0, 10);
          this.tdaytrans[`${confname}.${stock}`] = ret.tdata.filter(x => x.date == tday);
          /* */
          this.tdata_conf[confname].forEach(t => {
            console.assert(0 != t.days4sale);
            if (! (t.days4sale in days4salebar_count)) days4salebar_count[t.days4sale] = 0;
            days4salebar_count[t.days4sale]++;
            if (! (t.days4sale in days4salepointsbar_count)) days4salepointsbar_count[t.days4sale] = 0;
            days4salepointsbar_count[t.days4sale] += t.points;
          });
        }
      }
      /* */
      this.days4salebar = [];
      this.days4salepointsbar = [];
      for (let ui=0, ui2=5; ui<100; ui+=5, ui2+=(ui2>95)?10000:5) {
        const ks = Object.keys(days4salebar_count).filter(k => (parseInt(k) >= ui) && (parseInt(k) < ui2));
        this.days4salebar.push({name: ui, value:ks.reduce((v, k) => v+days4salebar_count[k], 0)});
      }
      for (let ui=0, ui2=5; ui<100; ui+=5, ui2+=(ui2>95)?10000:5) {
        const ks = Object.keys(days4salepointsbar_count).filter(k => (parseInt(k) >= ui) && (parseInt(k) < ui2));
        this.days4salepointsbar.push({name: ui, value:ks.reduce((v, k) => v+days4salepointsbar_count[k], 0)});
      }
      this.days4salebar.columns = ["letter", "frequency"];
      this.days4salebar.format = "%";
      this.days4salebar.y = "frequency";
      this.days4salepointsbar.columns = ["letter", "frequency"];
      this.days4salepointsbar.format = "%";
      this.days4salepointsbar.y = "frequency";
      /* make total profit chart */
      for (let ic=0; ic<this.tradecons.confnames.length; ic++) {
        const confname = this.tradecons.confnames[ic];
        var series = {name: 'Total', values: []},
            series_topens = {name: `${confname} Opens`, values: []};
        var total = 0, totopens = 0;
        alldates.forEach(date => {
          total += totpoints[confname][date];
          totopens += topens[confname][date];
          series.values.push(total);
          series_topens.values.push(totopens);
        });
        this.pdata[confname].series.push(series);
        this.pdata_tstat.tradestats.series.push(series_topens);
      }
      /* make monthly table */
      chartutils.toMonthlyYearlyTable(this.tdata, this.tmdata, this.tydata);
      /* make conf-monthly table */
      chartutils.toMonthlyYearlyTable(this.tdata_conf, this.tmdata_conf, this.tydata_conf);
    },
    tdata_class(d) {
      return (d.is_buy && d.is_sell) ? 'purple lighten-3' : d.is_buy ? 'green lighten-3' : d.is_sell ? 'red lighten-3' : '';
    },
    tmdata_class(d) {
      return (d.points > 0) ? 'green lighten-3' : 'red lighten-3';
    },
    async updateOhlc() {
      this.busy++;
      await this.$axios.$put('/api/updateohlcday', {}).then(
        (d) => {
          this.$store.commit("snackbar/pushMessage", {
            message: ('message' in d) ? d.message : 'Something went wrong, check network...',
            color: "success"
          });
          this.busy--;
        }).catch((e) => { this.busy--; });
    },
  }

}
</script>
