<template>
<v-main>
  <v-card>
    <v-card-title>
      {{confname ? configs[confname][0].analysis : ''}}
      <v-spacer></v-spacer>
      <v-select v-model="confname" :items="Object.keys(configs)" label="Config"></v-select>
      <v-menu ref="menu0" v-model="menu0_state" :close-on-content-click="false"
              :return-value.sync="startdate" transition="scale-transition" offset-y
              min-width="auto">
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="startdate"
            label="Select date"
            prepend-icon="mdi-calendar"
            readonly
            v-bind="attrs"
            v-on="on"
            ></v-text-field>
        </template>
        <v-date-picker
          v-model="startdate"
          no-title
          scrollable
          @change="$refs.menu0.save(startdate) ; menu0=false"
          >
        </v-date-picker>
      </v-menu>
      <v-menu ref="menu1" v-model="menu1_state" :close-on-content-click="false"
              :return-value.sync="enddate" transition="scale-transition" offset-y
              min-width="auto">
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="enddate"
            label="Select date"
            prepend-icon="mdi-calendar"
            readonly
            v-bind="attrs"
            v-on="on"
            ></v-text-field>
        </template>
        <v-date-picker
          v-model="enddate"
          no-title
          scrollable
          @change="$refs.menu1.save(enddate) ; menu1=false"
          >
        </v-date-picker>
      </v-menu>
      <v-btn :loading="busy>0" :disabled="busy>0" @click.prevent="process()">Process</v-btn>
    </v-card-title>
    <v-card-text>
      <v-row v-for="k in Object.keys(pdata)" :key="`pdata.${k}`">
        <h3>{{k}}</h3>
        <v-col><MultiLine3 :data="pdata[k]" tformat="%Y-%m-%d"/></v-col>
      </v-row>
      <!-- <v-text-field v-model="tsearch" append-icon="mdi-magnify" -->
      <!--               label="Search" single-line hide-details></v-text-field> -->
      <!-- <v-row> -->
      <!--   <v-col> -->
      <!--     <v-data-table -->
      <!--       :headers="thead" -->
      <!--       :items="tdata" -->
      <!--       :search="tsearch" -->
      <!--       :items-per-page="-1" -->
      <!--       :item-class="tdata_class" -->
      <!--       :options="{sortBy: ['on']}" -->
      <!--       > -->
      <!--       <template v-slot:item.symbol="{ item }"> -->
      <!--         <a :href="'https://in.tradingview.com/chart/?symbol=NSE%3A' + encodeURIComponent(item.symbol)" target="_blank"> -->
      <!--           {{ item.symbol }} -->
      <!--         </a> -->
      <!--         <a :href="'https://www.screener.in/company/'+encodeURIComponent(item.symbol)+'/#chart'" target="_blank"> -->
      <!--         <v-icon>mdi-open-in-new</v-icon> -->
      <!--       </a> -->
      <!--       </template> -->
      <!--     </v-data-table> -->
      <!--   </v-col> -->
      <!-- </v-row> -->
    </v-card-text>
  </v-card>
</v-main>
</template>

<script>
// import invest from '@/plugins/investutils';

export default {
  data () {
    return {
      busy: 0,
      menu0_state: false,
      menu1_state: false,
      startdate: '2017-01-01',
      enddate: '2021-12-31',
      imloaded: 0,
      maxstocksbuy: 10,
      /*        '200', '100', 'next50', '50', '500',
                'midcap50', 'midcap100', 'smallca4p50', 'smallcap100',
                'microcap250_', 'largemidcap250', 'midsmallcap400',
                '500Multicap502525_', 'auto', 'fmcg', 'bank', 'consumerdurables',
                'finance', 'healthcare', 'it', 'media', 'metal', 'oilgas',
                'pharma', '_privatebank', 'psubank', 'realty' */
      confname: '',
      /*
       */
      configs: {
        momstrategy2: [
          { analysis: 'Dma-1',
            sector: '100',
            funds: 500000,
            maxstocksbuy: 15,
            maxoutindex: 2,
            dma_periods: [20, 50, 200],
            momentum_spec: '2 weeks',
            dayincinit: 0,
            dayinc: 2,
            sleep_days_after_sale: 5,
            circuitdays: 10,
            circuitpc: {
              NIFTY: 0.97,
              BANKNIFTY: 0.95,
            },
            value_mark: 10000000 },
          // { analysis: 'Dma-2',
          //   sector: '100',
          //   funds: 500000,
          //   maxstocksbuy: 15,
          //   maxoutindex: 5,
          //   dma_periods: [7, 65, 200],
          //   dma_ratios: [[7, 65]],
          //   momentum_spec: '2 weeks',
          //   dayincinit: 0,
          //   dayinc: 2,
          //   sleep_days_after_sale: 5,
          //   circuitdays: 10,
          //   circuitpc: {
          //     NIFTY: 0.97,
          //     BANKNIFTY: 0.95,
          //   },
          //   value_mark: 10000000 },
          // { analysis: 'Dma-3',
          //   sector: '100',
          //   funds: 500000,
          //   maxstocksbuy: 15,
          //   maxoutindex: 7,
          //   dma_periods: [7, 65, 200],
          //   dma_ratios: [[7, 65]],
          //   momentum_spec: '2 weeks',
          //   dayincinit: 0,
          //   dayinc: 2,
          //   sleep_days_after_sale: 5,
          //   circuitdays: 10,
          //   circuitpc: {
          //     NIFTY: 0.97,
          //     BANKNIFTY: 0.95,
          //   },
          //   value_mark: 10000000 },
          // { analysis: 'Dma-4',
          //   sector: '100',
          //   funds: 500000,
          //   maxstocksbuy: 10,
          //   maxoutindex: 2,
          //   dma_periods: [7, 65, 200],
          //   dma_ratios: [[7, 65]],
          //   momentum_spec: '2 weeks',
          //   dayincinit: 0,
          //   dayinc: 2,
          //   sleep_days_after_sale: 5,
          //   circuitdays: 10,
          //   circuitpc: {
          //     NIFTY: 0.97,
          //     BANKNIFTY: 0.95,
          //   },
          //   value_mark: 10000000 },
        ],
        sbstrategy1: [
          { analysis: 'Dma-1',
            sector: '100',
            funds: 500000,
            maxstocksbuy: 20,
            dayincinit: 0,
            dayinc: 3,
            daysbeforebreakout: 10,
            buyratio: 1.1,
            dma_periods: [7, 65, 200],
            dma_ratios: [[7, 65]],
            momentum_spec: '2 weeks',
            selltargetratio: 1.5,
            sellratio: 0.95,
            sleep_days_after_buy: 60,
            sleep_days_after_sale: 10,
            circuitdays: 10,
            circuitpc: {
              NIFTY: 0.97,
              BANKNIFTY: 0.95,
            },
            value_mark: 10000000 },
          { analysis: 'Dma-2',
            sector: '100',
            funds: 500000,
            maxstocksbuy: 20,
            dayincinit: 1,
            dayinc: 3,
            daysbeforebreakout: 10,
            buyratio: 1.1,
            dma_periods: [7, 65, 200],
            dma_ratios: [[7, 65]],
            momentum_spec: '2 weeks',
            selltargetratio: 1.5,
            sellratio: 0.95,
            sleep_days_after_buy: 60,
            sleep_days_after_sale: 10,
            circuitdays: 10,
            circuitpc: {
              NIFTY: 0.97,
              BANKNIFTY: 0.95,
            },
            value_mark: 10000000 },
          { analysis: 'Dma-3',
            sector: '100',
            funds: 500000,
            maxstocksbuy: 20,
            dayincinit: 2,
            dayinc: 3,
            daysbeforebreakout: 10,
            buyratio: 1.1,
            dma_periods: [7, 65, 200],
            dma_ratios: [[7, 65]],
            momentum_spec: '2 weeks',
            selltargetratio: 1.5,
            sellratio: 0.95,
            sleep_days_after_buy: 60,
            sleep_days_after_sale: 10,
            circuitdays: 10,
            circuitpc: {
              NIFTY: 0.97,
              BANKNIFTY: 0.95,
            },
            value_mark: 10000000 },
        ],
      },
      ret: null,
      pdata: {},
      tdata: {},
      thead: [
        { text: 'Symbol', value: 'symbol', sortable: false },
        { text: 'Date', value: 'date', sortable: false },
        { text: 'Value', value: 'value', sortable: false },
        { text: 'Trades', value: 'trades', sortable: false },
        { text: 'Funds', value: 'funds', sortable: false },
        { text: 'Account Value', value: 'accval', sortable: false },
      ],
      tsearch: '',
    }
  },

  components: {
  },

  computed: {
    // tdata() {
    //   return this.ret ? this.ret.tdata : [];
    // },
    user() {
      return this.$store.state.user.info;
    },
  },

  mounted() {
    this.confname = Object.keys(this.configs)[0];
  },

  methods: {
    sleep(ms) {
      return new Promise(r => setTimeout(r, ms));
    },
    /* { "dt": "2016-01-01", "o": 11396.95, "h": 11455, "l": 11200, "c": 11321.95,
       "totqty": 400, "totvalue": 4546007.9, "tottrades": 159 }
    */
    async process() {
      /* */
      this.ret = JSON.parse(localStorage.getItem(this.confname));
      this.ret = null;
      if (this.ret === null) {
        this.ret = [];
        for (let ic=0; ic<this.configs[this.confname].length; ic++) {
          this.busy++;
          if (this.configs[this.confname][ic].hasOwnProperty('momentum_spec'))
            this.configs[this.confname][ic].momentum_days = this.momentum_spec2days(this.configs[this.confname][ic].momentum_spec);
          await this.$axios.$post('/api/strategyAnalysis', {strategy: this.confname, config: JSON.stringify(this.configs[this.confname][ic])}).then(
            (d) => {
              this.ret[ic] = d;
              this.busy--;
            }).catch((e) => { this.busy--; });
        }
        localStorage.setItem(this.confname, JSON.stringify(this.ret));
      }
      if (!this.ret) return;
      /* */
      this.pdata = {};
      this.tdata = {};
      this.configs[this.confname].forEach((config, ic) => {
        /* chart */
        const dates = Object.keys(this.ret[ic].daywise).sort();
        this.tdata[config.analysis] = [];
        this.pdata[config.analysis] = {
          y: config.analysis,
          series: [
            {name: 'Acc Value', values: []},
            {name: 'funds', values: []},
          ],
          dates: dates,
        };
        /* */
        var stockinbag = 0, funds = config.funds, trades = 0;
        var lastbuy = {};
        var accval = funds;
        dates.forEach((date, di) => {
          this.ret[ic].daywise[date].sell.forEach(b => {
            trades++;
            var td = {
              symbol: b[0],
              date: date,
              value: b[1],
              is_buy: false,
              is_sell: true,
              count: lastbuy[b[0]].count,
              trades: trades,
            };
            funds += td.count * td.value;
            td.funds = funds;
            td.accval = accval;
            stockinbag--;
            delete lastbuy[b[0]];
            this.tdata[config.analysis].push(td);
          });
          this.ret[ic].daywise[date].buy.forEach(b => {
            var td = {
              symbol: b[0],
              date: date,
              value: b[1],
              is_buy: true,
              is_sell: false,
              count: Math.floor(accval / (config.maxstocksbuy * b[1])),
              trades: trades,
            };
            funds -= td.count * td.value;
            td.funds = funds;
            td.accval = accval;
            stockinbag++;
            lastbuy[b[0]] = td;
            this.tdata[config.analysis].push(td);
          });
          /* get now value */
          accval = funds;
          this.ret[ic].daywise[date].eod.forEach(b => {
            accval += lastbuy[b[0]].count * b[1];
          });
          this.pdata[config.analysis].series[0].values.push(accval);
          this.pdata[config.analysis].series[1].values.push(funds);
        });
      });
      ['2021-09-14', '2021-09-15', '2021-09-16'].forEach(d => {
        this.configs[this.confname].forEach((config, ic) => {
          const idx = this.pdata[config.analysis].dates.indexOf(d);
          if (idx > -1) {
            this.pdata[config.analysis].dates.splice(idx, 1);
            this.pdata[config.analysis].series[0].values.splice(idx, 1);
            this.pdata[config.analysis].series[1].values.splice(idx, 1);
          }
        });
      });
      console.log(this.tdata);
    },
    tdata_class(d) {
      return (d.is_buy && d.is_sell) ? 'purple lighten-3' : d.is_buy ? 'green lighten-3' : d.is_sell ? 'red lighten-3' : '';
    },
    momentum_spec2days(spec) {
      const mult = spec.includes('year') ? 246 : spec.includes('month') ? 20.5 : spec.includes('week') ? 4.73 : 1;
      return Math.ceil(parseInt(spec) * mult);
    }
  }

}
</script>
